legend {
  border: 0;
  border-bottom: 1px solid $legend-border-color;
  color: $legend-color;
  display: block;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  margin-bottom: $line-height-computed;
  padding: 0;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  color: $input-color;
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-base;
  padding-top: ($padding-base-vertical + 1);
}

// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;

  label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
  }
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-left: -20px;
  margin-top: 4px \9;
  position: absolute;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
  vertical-align: middle;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 10px; // space out consecutive inline controls
  margin-top: 0;
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="checkbox"],
input[type="radio"] {

  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// These classes are used directly on <label>s
.checkbox-inline,
.radio-inline {

  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// These classes are used on elements with <label> descendants
.checkbox,
.radio {

  &.disabled,
  fieldset[disabled] & {

    label {
      cursor: $cursor-disabled;
    }
  }
}

// Horizontal forms
//
// Horizontal forms are built on grid classes and allow you to create forms with
// labels on the left and inputs on the right.

.form-horizontal {

  // Consistent vertical alignment of radios and checkboxes
  //
  // Labels also get some reset styles, but that is scoped to a media query below.
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: ($padding-base-vertical + 1); // Default padding plus a border
  }

  // Account for padding we're adding to ensure the alignment and of help text
  // and other content below items
  .radio,
  .checkbox {
    min-height: ($line-height-computed + ($padding-base-vertical + 1));
  }

  // Make form groups behave like rows
  .form-group {
    @include make-row;
  }

  // Reset spacing and right align labels, but scope to media queries so that
  // labels on narrow viewports stack the same as a default form example.
  @media (min-width: $screen-sm-min) {

    .control-label {
      margin-bottom: 0;
      padding-top: ($padding-base-vertical + 1); // Default padding plus a border
      text-align: right;
    }
  }

  // Validation states
  //
  // Reposition the icon because it's now within a grid column and columns have
  // `position: relative;` on them. Also accounts for the grid gutter padding.
  .has-feedback .form-control-feedback {
    right: floor(($grid-gutter-width / 2));
  }

  // Form group sizes
  //
  // Quick utility class for applying `.input-lg` and `.input-sm` styles to the
  // inputs and labels within a `.form-group`.
  .form-group-lg {

    @media (min-width: $screen-sm-min) {

      .control-label {
        font-size: $font-size-large;
        padding-top: (($padding-large-vertical * $line-height-large) + 1);
      }
    }
  }

  .form-group-sm {

    @media (min-width: $screen-sm-min) {

      .control-label {
        font-size: $font-size-small;
        padding-top: ($padding-small-vertical + 1);
      }
    }
  }
}

body {
  // The Drupal toolbar module tries to push down the <body> as much as its height
  padding-top: 0 !important;
  position: relative;
}

// Vacancy list view page default styling
.vacancy-wrapper {
  float: left;
  margin: 1%;
  width: 18%;
}

// Views exposed form styling
@mixin exposed-form-default-style($width) {
  display: block;
  float: none;
  width: $width;
}

.views-exposed-form .views-exposed-widget {
  @include exposed-form-default-style(50%);

  @media screen and (max-width: $screen-sm-max) {
    @include exposed-form-default-style(100%);
  }
}

// Customization of the standard Bootstrap form group
// This version has a smaller gap between columns (label and field)
.form-horizontal {

  .form-group--smaller-gutter {
    margin-left: -10px;
    margin-right: -10px;

    [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.btn-group-sm {

  > .btn {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
  }
}

// Manager AJAX filters block / inline settings
.btn-custom-block {

  @media screen and (min-width: $screen-tablet) {
    display: block;
  }
}

// --------------------------------
// Mockup design styles
// Author: Cezar Derevlean
// --------------------------------

// Overwrite inherited styles

.views-exposed-form .views-exposed-widget {
  padding: 0;
}

.item-list ul li {
  margin: 0;
}

// Helpers

.relative {
  position: relative;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nofloat {
  float: none;
}

// Lists

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Links

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: rgba($brand-primary, 0.8);
    text-decoration: none;
  }

  &:active,
  &:focus {
    text-decoration: none;
  }
}

// Headings

.block__title {
  padding: 0 15px;
}

h1,
.block__title {
  color: $crm-gray-darker-alt;
  font-size: 3.6rem;
  font-weight: 300;
  margin: 25px 0;
}

h4 {
  color: $gray-darker;
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  color: $gray-darker;
  font-size: 1.6rem;
  font-weight: 400;
}

h2.pane-title {
  color: $gray-darker;
  font-size: 1.8rem;
  font-weight: 400;
}

.container.collapse {
  padding: 0;
}

// Selects

.hasCustomSelect {
  z-index: 10;
}

.customSelect {
  @include fa('\f0d7');

  border: 1px solid $input-border;
  color: $gray;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  padding: 7px 10px;
  position: relative;
  width: 100%;

  &:focus {
    border-color: $brand-primary;
    outline: 0 none;
  }

  &:before {
    position: absolute;
    right: 14px;
    top: 11px;
  }

  &:after {
    border-left: 1px solid $input-border;
    content: "";
    height: 100%;
    position: absolute;
    right: 37px;
    top: 0;
    width: 0;
  }
}

.customSelectInner {
  display: block !important;
  overflow: hidden;
  padding-right: 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto !important;
}

// Alerts/Messages

#messages {
  padding: 15px 0 0;
}

.alert {
  color: $light;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;

  button {
    color: $gray-dark !important;
    margin-right: 10px;
  }

  .close {
    background: none;
    border: 0;
    color: $light !important;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.alert-danger {
  background: $brand-danger;
}

.alert-success {
  background: $brand-success;
}

.alert-warning {
  background: $brand-warning;
}

// Modal: My details, Emergency contact

.modal-body article {
  margin: 0 auto;
  max-width: 640px;

  h2 {
    display: none;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    &:first-of-type {

      .fieldset-legend {
        margin-top: 0;
      }
    }

    &.collapsed {
      height: auto;
    }

    &.panel {
      @include box-shadow(none);
    }

    .panel-body {
      padding: 0;
    }

    .panel-heading {
      background-color: transparent;
      border: 0 none;
      padding: {
        left: 5px;
        right: 5px;
      }
    }
  }

  .fieldset-legend {
    font-size: 1.6rem;

    a {
      color: $gray-darker;
      margin-left: 10px;
    }
  }

  .grippie {
    display: none;
  }

  .form-item {

    label:not(.element-invisible) {
      color: $gray-darker;
      display: block;
      float: left;
      font-size: 1.3rem;
      padding: 7px 0;
      width: 35%;

      & + .hasCustomSelect {
        left: 35%;
      }
    }
  }

  .form-control,
  .form-managed-file,
  .form-managed-file + .description {
    display: block;
    float: left;
    width: 65%;
  }

  .form-managed-file + .description {
    margin-left: 35%;
  }

  .webform-container-inline {
    float: left;
    width: 65%;

    .form-item {
      float: left;
      margin-right: 20px;
      max-width: 100px;
      width: 100%;
    }

    .form-control {
      float: none;
      width: 100%;
    }

    .webform-calendar {
      margin: 10px 0;
    }
  }

  .form-actions {
    border-top: 1px solid $gray-light;
    margin-bottom: 0;
    padding-top: 20px;

    .btn {
      padding: 0.8rem 6rem;
    }
  }
}

// Splitters

.vertical-splitter {
  border-left: 1px solid $gray-light;
  height: 100%;
  position: absolute;
  width: 0;
}

.splitter-top {
  border-top: 1px solid $gray-light;
  margin-top: 20px;
  padding-top: 20px;
}

// Buttons

.btn {
  @include button-size(0.7rem, 1.1rem, 1.3rem, $line-height-base, $border-radius-base);
}

.btn-custom {
  @include button-variant($light, $btn-primary-bg, transparent);
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.context-menu-toggle {
  box-shadow: none !important;
  color: $gray;
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;

  &:hover {
    color: $brand-primary;
  }
}

// Dropdowns

.dropdown-menu {
  padding: 0;

  > li > a {
    line-height: 18px;
    padding: 8px 14px;
  }

  [class^="fa-"],
  [class*=" fa-"],
  [class^="glyphicon-"],
  [class*=" glyphicon-"] {
    text-align: center;
    width: 1.25em;
  }
}

// Forms

form {

  hr {
    margin-top: 40px;
  }

  .btn {
    float: right;
  }
}

.form-item,
.form-actions {
  @include clearfix;

  margin: 0 0 20px 0;
  position: relative;

  .form-item {
    margin-bottom: 0;
  }

  input.error {
    border: 1px solid $brand-danger;
  }
}

.form-text {
  border: 1px solid $input-border;
  color: $gray;
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  padding: 7px 10px;
  width: 100%;

  &:focus {
    border-color: $brand-primary;
    outline: 0 none;
  }
}

.breadcrumb {
  display: none;
}


// Main / Dashboard

.main {
  background: $gray-light;
}

// Panels / Dashboard Carousel

.pane-block,
.view {
  @include clearfix;

  background: $panel-bg;
  margin: 0 0 30px 0;
  padding: 20px;
}

.pane-block {
  @include box-shadow($crm-box-shadow-global);
}

.pane-block[class*="absence-list"] {
  margin: 0;
}

.view {
  margin: 0 15px;
}

.pane-block {

  .view {
    margin: 0;
    padding: 0;
  }

  .jcarousel-container {
    margin: 0 -10px;
    padding: 0 26px;
  }

  .jcarousel-clip {
    overflow: hidden;
  }

  .jcarousel-item {
    background: $crm-gray-light-alt;
    margin: 0 10px;
    padding: 20px;
    width: 193px;
  }

  .jcarousel-prev,
  .jcarousel-next {
    @include fa("\f104", 24);

    background: $light;
    color: $gray;
    display: block;
    height: 100%;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 26px;

    &:before {
      @include vertical-align;

      display: block;
    }
  }

  .jcarousel-next {
    @include fa("\f105", 24);

    left: auto;
    right: 10px;
  }
}

.views-exposed-form .views-exposed-widget {
  width: auto;
}

.pane-title {
  border-bottom: 1px solid $gray-light;
  line-height: 1;
  margin: 0 -20px 20px;
  padding: 0 20px 20px;

  &:first-child {
    margin-top: 0;
  }
}

// My details

.profile-image {
  border-radius: 50%;
  height: 140px;
  margin-left: 10px;
  overflow: hidden;
  width: 140px;

  > img {
    height: 100%;
  }
}

.custom-scale-image {
  left: 50%;
  max-height: 140px;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-slider-block,
.pane-views-hr-documents-block {
  position: relative;

  .views-field {
    margin-top: 1.4rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .view-header {
    font-size: 1.3rem;
    position: absolute;
    right: 20px;
    top: 7px;

    a {
      color: $gray;
    }
  }

  .view-hr-vacancies,
  .view-hr-documents {

    .jcarousel-item {
      padding-bottom: 55px;
      position: relative;
    }

    .btn {
      bottom: 20px;
      left: 20px;
      position: absolute;
      right: 20px;
    }
  }

  .view-hr-documents {

    .views-field {
      font-size: 1.3rem;

      &:first-child {
        color: $gray-darker;
        font-size: 1.6rem;
      }
    }
  }
}

// Absencies

.block-civihr-employee-portal {
  text-align: right;

  .btn {
    margin-left: 10px;
  }
}

.pane-civihr-employee-portal-leave {
  tr {
    &.odd {
      background: none;
    }

    &.even {
      background: $gray-lighter;
    }
  }
}

.view-absence-list {

  & > .view-footer,
  & > .view-header {

    tbody {
      border-top: 0;

      tr {
        color: $gray-darker;
        font-weight: 700;
      }
    }
  }

  & > .view-header {
    margin: 0 -20px;
  }

  & > .view-content {

    tbody {
      border: 0;
    }
  }

  td,
  th {
    &:first-child {
      width: 28%;
    }
  }

  .entitlement-date-row {
    border-bottom: 1px solid $gray-light;

    td {
      border-bottom: 0;
    }
  }
}

// My sickness report
.pane-civihr-employee-portal-sick {

  td,
  th {
    &:first-child {
      width: 14%;
    }
  }

  @media(min-width: $screen-xs-min) {

    td,
    th {
      &:first-child {
        width: 28%;
      }
    }
  }
}

.calendar-btn {
    background: none;
    color: $gray;
    padding-right: 0;

    @include fa("\f073");

    &:before {
        margin-right: 8px;
    }
    &:hover {
        background: none;
        color: $gray;
    }
}

.pane-civihr-employee-portal-leave,
.pane-civihr-employee-portal-sick {
  padding-top: 0;
}

.view-empty {
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.pane-views-exp-absence-list-page {

  .views-exposed-widget {

    .chr_action--icon--responsive {

      @media(min-width: $screen-md-min) {

        span {
          display: none;
        }
      }

      @media(min-width: $screen-lg-min) {

        span {
          display: inline;
        }
      }
    }
  }
}


// ## TEMPORARY ##
// Manager absence approval
.pane-views-approvals-block-1 {
  position: relative;
}

.view-approvals,
.view-Tasks {

  .view-empty {
    padding: 0 20px;
  }
}
// ## END TEMPORARY ##

#civihr-employee-portal-document-form {
  .drop-zone {
    margin: 10px 0;
    padding: 30px;
  }

  .help-block {
    clear: left;
    float: left;
    font-size: 12px;
  }

  .form-type-date-popup {
    width: 100%;

    .date-padding {
      padding: 0;
    }

    .form-type-textfield {
      label {
        display: none;
      }
    }
  }

  .table-upload {
    table-layout: fixed;

    .col-index {
      width: 60px;
    }

    .col-name {
      width: 45%;
    }

    .col-size {
      width: 95px;
    }

    .col-action {
      width: 130px;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Footer

.footer {
  background: $gray-light;
  color: $gray;
  padding: 50px 0;

  .footer-logo {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .copyright {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

.page-dashboard {

  .footer {
    margin-top: -30px;
  }
}

// Page: HR Vacancies
.content {

  & > .view-hr-vacancies {

    @extend .view-hr-documents;

    .view-filters {

      .views-widget {
        width: 40%;
      }
    }

    .views-exposed-widget {
      @include clearfix;
    }

    .views-submit-button {
      border-top: 1px solid $gray-light;
      margin-top: 20px;

      .form-submit {
        margin-top: 10px;
      }
    }

    .view-content {
      font-size: 1.3rem;
    }

    .views-row {
      @include clearfix;

      margin: 0 -20px;
      padding: 20px;

      & > .views-field:first-of-type {

        .field-content {
          color: $brand-primary;
        }
      }
    }

    .views-row-odd {
      background: $gray-lighter;
      border-bottom: 1px solid $gray-light;
      border-top: 1px solid $gray-light;
    }

    .field-content {
      margin-top: 10px;

      .btn {
        background: none;
        color: $brand-primary;
        padding: 0;
      }
    }

    .vacancy-wrapper {
      margin: 0;

      &:last-of-type {
        float: right;
        text-align: right;

        .field-content {
          margin-top: 0;
        }
      }
    }

    .fieldset-legend {
      margin-left: -6px;
    }

    .fieldset-title {
      color: $gray;
      font-size: 1.3rem;
      margin-left: 5px;
    }

    fieldset {
      border: 0;
      margin-top: 20px;
      padding: 0;
    }

    .fieldset-wrapper {
      background: $crm-gray-light-alt;
      margin-top: 20px;
      padding: 15px 20px;

      .views-field {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .views-label {
        display: inline-block;
        width: 16.6%;
      }
    }
  }
}

// Print leave report
.page-print-leave-report {
  .view-absence-entitlement {
    margin: 0;
    padding: 0;
  }

  .entitlement-date-row + tr {
    border-top: 1px solid $gray-light;
  }
}

// Hide slider nav arrows when inactive
.jcarousel-container [disabled] {
  display: none;
}

// Styling the exposed filters on reports page.
#edit-absence-date-filter-wrapper,
#edit-between-date-filter-wrapper {

  .form-inline {

    .form-control {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }

    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    header.form-group {
      display: block;
      margin-bottom: 1em;
    }
  }
}

// Hides the text-angular secret input field
.ta-hidden-input {
  display: none;
}
