//
// CSS Helpers
// --------------------------------------------------

.flex {
  @include flex;
}

.flex-md {
  @media (min-width: $screen-md-min) {
    @include flex;
  }
}

.flex-lg {
  @media (min-width: $screen-lg-min) {
    @include flex;
  }
}

.pointer {
  cursor: pointer !important;
}

//disable the element and prevent any user interaction
.chr_disabled {
  opacity: 0.5;
  pointer-events: none;
}
