// This is the temporary styles to make the new Document modal look similar in SSP

// Chrome and Firefox set a `min-width: min-content;` on fieldsets,
// so we reset that to ensure it behaves more like a standard block element.
// See https://github.com/twbs/bootstrap/issues/12359.
fieldset {
  min-width: 0;
}

// Opened Modal
[data-ta-documents],
[data-ta-documents-manager] {
  .modal {
    overflow-y: scroll !important;

    .modal-dialog {
      max-width: 500px;
    }
  }

  .modal-backdrop {
    z-index: 1040 !important;
  }

  // Required Imports
  @import 'bootstrap/modals';
  @import 'bootstrap/forms';
  @import 'bootstrap/input-groups';
  @import 'bootstrap/list-group';

  // Overriding custom height for modal-content
  .modal-content {
    min-height: auto;
  }

  // Modal Form
  .form-document {
    .civihr-ui-select.form-control {
      border: 0;
      height: 40px;
      padding: 0;
    }

    .ui-select-container {
      width: 100%;
    }

    .ui-select-offscreen {
      display: none;
    }

    .ui-select-choice {
      height: 30px;
    }

    .form-control-file {
      visibility: hidden;
    }

    .drop-zone {
      border: 1px dashed $gray-light;
      padding: 30px;
      text-align: center;
    }

    .no-file {
      border-color: $brand-danger !important;
      color: $brand-danger;
    }

    .no-left-margin {
      margin-left: -15px;
    }

    table.ct-table-upload {
      margin-bottom: 15px;

      th.pull-right {
        display: none;
      }

      tbody {
        border-top: 1px solid $chr-gray-pale;

        tr td:first-child {
          overflow: hidden;
          text-overflow: ellipsis;
          width: 120px;
        }
      }
    }

    // help icon
    a.helpicon {
      background-color: $brand-primary;
      border-radius: 50%;
      font-size: $font-size-base;
      font-weight: $chr-font-weight-regular;
      padding: 1px 6px;
      text-decoration: none;

      &:before {
        color: $chr-white;
        content: '?';
      }
    }

    // Tabs
    .nav-tabs {
      li {
        margin-bottom: -1px;
      }

      a,
      li {
        background-color: $chr-gray-lightest;
        color: $gray-dark;
      }

      li a {
        margin-right: 0;

        &:focus,
        &:hover {
          background-color: $chr-gray-lightest;
          border-color: $chr-gray-lightest;
          color: $gray-dark;
          margin-right: 0;
        }
      }

      li.active a {
        background-color: $chr-white;
        border-bottom-color: transparent;
        color: $brand-primary;

        &:focus,
        &:hover {
          background-color: $chr-white;
          color: $brand-primary;
          cursor: default;
        }
      }
    }

    // Datepicker
    [uib-datepicker-popup-wrap] > .dropdown-menu {
      padding: 10px;

      table {
        &:focus {
          outline: 0 none;
        }

        tbody {
          background-color: $chr-gray-lightest;

          .btn {
            background-color: $chr-gray-lightest;
            border-radius: 20px;
            line-height: 1;
            padding: 7px;
            width: auto !important;

            &:active {
              @include box-shadow(none);
            }

            &:focus {
              background-color: $chr-gray-lightest;
              outline: 0 none;
            }

            &.active {
              @include box-shadow(none);
              background-color: $brand-primary;

              span {
                color: $chr-white;
              }
            }
          }
        }

        td,
        th {
          border-bottom: 0 solid $chr-gray-pale;
          padding: 7px;
        }

        thead {
          small {
            color: $gray-dark;
            font-size: $font-size-base;
          }
        }

        .btn {
          border-width: 0;
          font-size: $font-size-base;
          font-weight: $chr-font-weight-regular;
        }

        .text-muted {
          color: $gray-lighter;
        }

        > thead > tr > th {
          vertical-align: middle;
        }
      }
    }

    // Target Contact text
    .target-contact {
      margin-top: -5px;
    }

    .civihr-ui-select {
      .select2-choice,
      .select2-arrow {
        background-color: $chr-white;
        background-image: none;
      }

      .select2-results {
        color: $gray-light;

        .select2-highlighted {
          background: $chr-gray-pale;
          color: inherit;
        }
      }

      .select2-search {
        margin-bottom: 5px;
      }

      .select2-drop {
        border-radius: 0 !important;
      }

      .select2-choice {
        border-radius: 0;
        height: 33px !important;
        padding: 2px 8px;

        abbr {
          right: 40px;
          top: 10px;
        }
      }

      .select2-arrow {
        border-radius: 0 !important;
        padding-left: 8px;
        width: 32px;
      }
    }
  }

  form {
    .btn {
      border: 1px solid transparent;
      border-color: $gray-light;
      border-radius: 2px;
      float: none;
      font-size: $font-size-base;
      padding: 6px 12px;
      text-transform: uppercase;
    }

    .btn-danger,
    .btn-danger:focus {
      background-color: $chr-white;
      border: 0;
      color: $brand-danger;
    }

    .input-group-addon {
      background-color: $chr-white;
    }
  }

  // Styles for spinner taken forn T&A
  .ct-spinner-container {
    position: relative;
  }

  .ct-spinner-cover,
  .ct-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 999;
  }
}
