// Typography
// -----------------------------------------------------------------------------

//Custom Typography for CIVIHR
@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: $chr-font-weight-regular;
  src:url('../fonts/icomoon.eot?iqn065');
  src:url('../fonts/icomoon.eot?#iefixiqn065') format('embedded-opentype'),
    url('../fonts/icomoon.woff?iqn065') format('woff'),
    url('../fonts/icomoon.ttf?iqn065') format('truetype'),
    url('../fonts/icomoon.svg?iqn065#icomoon') format('svg');
}

// Chrome Windows rendering fix
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.svg?iqn065#icomoon') format('svg');
  }
}

.u-font-size-small {
  font-size: $font-size-base;
}

.u-font-size-big {
  font-size: $font-size-large;
}
