@import url('//fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic');

// Shadows
// -----------------------------------------------------------------------------
$crm-box-shadow-global: 0 3px 10px 0 rgba(0, 0, 0, 0.035), 0 4px 8px 0 rgba(0, 0, 0, 0.035) !default;

// Headers
// -----------------------------------------------------------------------------
$crm-header-height: 60px !default;

// Grays
// -----------------------------------------------------------------------------
$gray-darker:         #3e3e54 !default;
$gray-dark:           #464354 !default;
$gray:                #4d4d69 !default;
$gray-light:          #9494a5 !default;
$gray-lighter:        #c2cfd8 !default;

$light:               #fff !default;
$light-pale:          #e8eef0 !default;
$light-gray:          #f3f6f7 !default;

$crm-gray-1:          #4e4e78;

// Brand colors
// -----------------------------------------------------------------------------
$brand-primary:       #0071bd !default;
$brand-secondary:     #9494a5 !default;
$brand-success:       #44cb7e !default;
$brand-warning:       #e6ab5e !default;
$brand-danger:        #cf3458 !default;

// Scaffolding
// -----------------------------------------------------------------------------
$body-bg:    $light-pale !default;
$text-color: $gray !default;

// Typography
// -----------------------------------------------------------------------------
$fa-font-path:            '../fonts';
$font-family-sans-serif:  'Lato', sans-serif;
$headings-color:          $gray-darker !default;

$crm-font-size-small:     12px;
$crm-font-size-large:     18px;

$crm-font-weight-light:   300;
$crm-font-weight-regular: 400;
$crm-font-weight-bold:    700;

// Iconography
// -----------------------------------------------------------------------------
$icon-font-path:      '../fonts/' !default;

$crm-icon-image-path: '../images/icon/' !default;
$crm-icon-asc:        'asc.gif' !default;
$crm-icon-desc:       'desc.gif' !default;

// Components
// -----------------------------------------------------------------------------
$border-radius-base:  2px !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

// Tables
// -----------------------------------------------------------------------------
$table-bg:                       $light !default;
$table-border-color:             $light-pale !default;
$table-cell-padding:             8px 20px !default;
$table-condensed-cell-padding:   8px 5px !default;

// Buttons
// -----------------------------------------------------------------------------
$btn-primary-border:   transparent !default;
$btn-secondary-border: transparent !default;
$btn-success-border:   transparent !default;
$btn-warning-border:   transparent !default;
$btn-danger-border:    transparent !default;

// Dropdowns
// -----------------------------------------------------------------------------
$dropdown-border:        transparent !default;
$dropdown-link-color:    $text-color !default;
$dropdown-link-hover-bg: $light-gray !default;

// Navs
// -----------------------------------------------------------------------------
$nav-link-hover-bg:                           $light-gray !default;
$nav-tabs-active-link-hover-bg:               $light !default;
$nav-tabs-justified-active-link-border-color: $light !default;

// Media queries breakpoints
// -----------------------------------------------------------------------------
$screen-sm-max:                                     767px !default;
$crm-screen-lg-max:                                 1300px;
$crm-onboarding-wizard-menu-responsive-breakpoint:  1170px;

// Modals
// -----------------------------------------------------------------------------
$crm-custom-modal-padding:        20 !default;
$crm-custom-modal-body-padding:   10 !default;

$modal-lg:                        945px !default;
$modal-md:                        555px !default;
$modal-sm:                        360px !default;

// Panels
// -----------------------------------------------------------------------------
$panel-bg:                     $light !default;
$panel-body-padding:           20px;
$panel-heading-padding:        12px 20px;

$crm-panel-subheading-padding: $panel-heading-padding !default;

// Thumbnails
// -----------------------------------------------------------------------------
$thumbnail-bg: $light !default;

// Badges
// -----------------------------------------------------------------------------
$badge-bg: $gray !default;

// Type
// -----------------------------------------------------------------------------
$hr-border: $light-pale !default;

// Scrollbar
// -----------------------------------------------------------------------------
$crm-scrollbar-size:        10px !default;
$crm-scrollbar-track-color: $light-gray !default;
$crm-scrollbar-thumb-color: $gray-light !default;

// Custom Scrollbar
// -----------------------------------------------------------------------------
$crm-customselect-height:        33 !default;
$crm-customselect-caret-width:   32 !default;
$crm-customselect-padding-right: $crm-customselect-caret-width + 12 !default;

// Forms
// -----------------------------------------------------------------------------
$input-border: $gray-lighter !default;

$crm-ui-select-top-padding:       7px;

// User Menu
// -----------------------------------------------------------------------------
$chr-user-menu-color:                     $light-pale;
$chr-user-menu-line-height:               inherit;
$chr-user-menu-minify-breakpoint:         $crm-screen-lg-max;
$chr-user-menu-bg-hover:                  $gray;
$chr-user-menu-dropdown-bg:               $gray-dark;
$chr-user-menu-dropdown-username-color:   $light;
$chr-user-menu-dropdown-link-color:       $light-pale;
$chr-user-menu-dropdown-link-color-hover: $light;
$chr-user-menu-dropdown-link-bg-hover:    $gray;

//== Wizard
// -----------------------------------------------------------------------------
$crm-wizard-font-color:        $text-color;
$crm-wizard-primary-color:     $gray-light;
$crm-wizard-secondary-color:   $brand-primary;
$crm-wizard-active-bg-color:   $light-pale;
$crm-wizard-active-font-color: $crm-wizard-secondary-color;

//== Uib-Datepicker
//
//##
$crm-uib-datepicker-active-border-radius:   0;
$crm-uib-datepicker-active-cell-padding:    7px 9px;
$crm-uib-datepicker-border:                 1px solid $input-border;
$crm-uib-datepicker-body-bg-color:          $gray-dark;
$crm-uib-datepicker-body-font-color:        $gray-dark;
$crm-uib-datepicker-cell-padding:           7px 0;
$crm-uib-datepicker-cell-padding-span:      5px;
$crm-uib-datepicker-header-font-color:      inherit;
$crm-uib-datepicker-header-font-size:       14px;
$crm-uib-datepicker-header-font-weight:     $crm-font-weight-regular;
$crm-uib-datepicker-muted-cell-color:       $gray-dark;
$crm-uib-datepicker-today-bg-color:         $brand-primary;
$crm-uib-datepicker-today-font-color:       $light;
$crm-uib-datepicker-week-border:            $light-pale;

$crm-jquery-datepicker-grid-color:          $light !default;
