@import url(//fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// Variables
// -----------------------------------------------------------------------------

$crm-box-shadow-global: 0 3px 10px 0 rgba(0, 0, 0, 0.035), 0 4px 8px 0 rgba(0, 0, 0, 0.035) !default;
$crm-header-height:     50px !default;

// Global values
// -----------------------------------------------------------------------------

// Grays
// -----------------------------------------------------------------------------

$gray-dark:           #555862 !default; // menu bg
$gray-darker:         #4c4c5d !default; // text darker
$gray:                #757b8e !default; // main text/lighter, menu item bg hover, footer logo
$gray-light:          #ecedee !default; // body bg
$gray-lighter:        #fbfbfc !default; // table odd row

$light:               #ffffff !default; // well bg, text on dark bg hover
$light-pale:          #c3cbd6 !default; // text on dark bg
$light-gray:          #eeeded !default;

$crm-gray-light-alt:  #f0f1f4 !default; // carousel item bg, hr resource bg
$crm-gray-light-blue: #757b8e !default; // scrollbar thumb, pivot table text
$crm-gray-darker-alt: #404454 !default; // page title
$crm-grizzly:         #dcdddd !default;
$crm-color-neutral:   #949caa !default; // gray shade

// Brand colors
// -----------------------------------------------------------------------------

$brand-primary:       #42afcb !default;
$brand-success:       #7dc4a7 !default;
$brand-warning:       #DABB24 !default;
$brand-danger:        #da6b86 !default;
$crm-brand-secondary: #db6c86; // submenu hover

// Typography
// -----------------------------------------------------------------------------

$crm-sans: 'Lato', sans-serif;


// Iconography
// -----------------------------------------------------------------------------

$icon-font-path: '../fonts/' !default;

$crm-icon-image-path: '../images/icon/' !default;
$crm-icon-asc:        'asc.gif' !default;
$crm-icon-desc:       'desc.gif' !default;


// Components
// -----------------------------------------------------------------------------

$border-radius-base:             0 !default;
$border-radius-large:            0 !default;
$border-radius-small:            0 !default;


// Tables
// -----------------------------------------------------------------------------
$table-bg:                       $light !default;
$table-border-color:             #ededed !default;
$table-cell-padding:             8px 20px !default;
$table-condensed-cell-padding:   8px 5px !default;

$crm-table-heading-padding:      13px 20px !default;
$crm-table-heading-bg:           #f7f7f9 !default;
$crm-table-heading-border-color: #dadcde !default;

$crm-table-nested-indent-color:  #dbdddf !default;
$crm-table-nested-indent-width:  10px !default;


// Buttons
// -----------------------------------------------------------------------------

$btn-primary-border:             transparent !default;
$btn-success-border:             transparent !default;
$btn-warning-border:             transparent !default;
$btn-danger-border:              transparent !default;


// Dropdown
// -----------------------------------------------------------------------------
$dropdown-border:                transparent !default;
$dropdown-link-color:            $gray !default;
$dropdown-link-hover-bg:         #f7f7f9 !default;


// COMPONENT VARIABLES
// ------------------------------------------------------------------------------------------------------


// Media queries breakpoints
// ------------------------------------------------------------------------------------------------------

$screen-sm-max:               767px !default;


// Modals
// -----------------------------------------------------------------------------
$crm-custom-modal-padding:       20 !default;
$crm-custom-modal-body-padding:  10 !default;


// Panels
// -----------------------------------------------------------------------------
$panel-bg:                    $light !default;

$crm-panel-heading-font-size: 1.8rem;
$panel-body-padding:          20px;
$panel-heading-padding:       15px 20px;


// Badges
// -----------------------------------------------------------------------------
$badge-bg:                    $gray !default;


// Scrollbar
// -----------------------------------------------------------------------------
$crm-scrollbar-size:        10px !default;
$crm-scrollbar-track-color: #F5F5F7 !default;
$crm-scrollbar-thumb-color: $crm-gray-light-blue !default;


// Custom Scrollbar
// -----------------------------------------------------------------------------
$crm-customselect-height:        33 !default;
$crm-customselect-caret-width:   32 !default;
$crm-customselect-padding-right: $crm-customselect-caret-width + 12 !default;
