// civicrm datepicker styles form shoreditch
@import "SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/mixins/_fa-icon.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/_mixins.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/common/_datepickers.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/common/_bootstrap-calendar.scss";

// Override styles for civicrm datepicker specific to SSP
.ui-datepicker {
  .ui-datepicker-calendar thead tr th {
    font-size: 11.9px !important; //Calendar heading font size as in SSP
  }
  .ui-datepicker-month,
  .ui-datepicker-year {
    font-size: 14px !important; // Select option font size as in SSP
    font-weight: 400;
    margin: 0 5px !important;
  }
}
