// Styles for blocks.
// --------------------------------------------------

#block-welcome-logo {
  margin-top: 30px;
  padding: {
    bottom: 0;
    top: 20px;
  }

  .pane-content {
    @include box-shadow($crm_box-shadow-global);
    background: $chr-light;
    border-radius: 125px;
    height: 125px;
    margin: 0 auto 17px;
    max-width: 100%;
    position: relative;
    text-align: center;
    width: 125px;

    img {
      @include transform(translate(-50%, -50%));
      left: 50%;
      max-width: 80%;
      position: absolute;
      top: 50%;

      &.round {
        border-radius: 50%;
      }
    }
  }
}

.round img {
  border-radius: 50%;
}

#block-welcome-sitename {
  margin: 0 0 4px;

  .pane-content {
    color: $gray;
    font-size: $font-size-h1;
    font-weight: $chr-font-weight-light;
    text-align: center;
  }
}

#block-welcome-slogan {
  margin-bottom: 45px;
  margin-top: 0;

  .pane-content {
    font-size: $font-size-large;
    font-weight: $chr-font-weight-regular;
    text-align: center;
  }
}

//Yoti Account
#yoti-connect-register {
  @include box-shadow($crm_box-shadow-global);
  background: $chr-light;
  margin: 50px auto 0;
  max-width: 492px;
  padding: 20px 20px 5px;
  width: 100%;

  .form-checkbox {
    margin-top: 0;
  }

  .form-submit {
    min-width: 82px;
  }
}

// Use yoti button
.yoti-connect {
  text-align: center;

  a {
    font-size: $font-size-base !important;
  }
}
