// Styles for panels and panes.
// --------------------------------------------------

.pane-block.pane-user-login {
  margin-bottom: 20px;
  padding-bottom: 0;

  label {
    display: none;
  }

  #messages {
    margin-bottom: 20px;
    padding: 0;

    .alert {
      padding: {
        bottom: 15px;
        top: 15px;
      };
    }
  }

  .btn {
    min-width: 82px;
  }

  .pane-content {
    @include grid-condensed($panel-body-padding);

    > .form-item:first-child {
      padding-top: 0;
    }
  }

  .pane-user-login-forgot-password {
    > .row {
      background-color: $light-gray;
    }

    .alert {
      margin-bottom: -20px;
    }
  }
}
