/* Page: My details */

.page-hr-details {
  .civihr-employee-portal-my-details-block {
    background: $light;
    padding: 20px;
    margin: 0 15px;

    .view {
      margin: 0;
      padding: 0;
    }
  }
}
