/* Page: My details */

.page-hr-details {
  .civihr-employee-portal-my-details-block {
    background: $light;
    padding: 20px;
    margin: 0 15px;

    .view {
      margin: 0;
      padding: 0;
    }
  }

  .chr_panel--my-details__data-group:last-child {
    margin-top: 40px;
  }

  #modal-content {
    .panel-body {
      background: transparent;
    }
  }
}


.chr_hr_details-emergency_contacts,
.chr_hr_details-dependents {
  .view {
    margin: 0;
    padding: 0;
  }

  .view-content {
    overflow: auto;
  }

  .view-empty {
    padding: 15px;
    text-align: center;
  }

  .views-table {
    margin-bottom: 0;
  }

  .chr_hr_details-add_contacts {
    margin-left: 15px;
    margin-top: -15px;
  }

  .chr_hr_details-header {
    display: inline-block;
  }

  @media (max-width: $screen-sm-min) {
    .chr_hr_details-header {
      display: block;
    }

    .chr_hr_details-add_contacts {
      margin-bottom: 30px;
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.view-mydetails-personal {
  .contact-id span {
    @include views-label;
  }

  .pane-block {
    border-bottom: 1px solid $gray-light;
    margin-bottom:0px;
  }

  .views-row {
    min-height: 80px;
    padding-left: 100px;
    position: relative;
  }

  .views-field-image-URL {
    left: 0px;
    position: absolute;
    top: 0px;
  }

  .no-user-image {
    background: url(/sites/all/modules/civihr-custom/civihr_employee_portal/images/profile-default.png) center no-repeat;
    background-size: 80px 80px;
    overflow: hidden;
    text-indent: -1000px;
  }

  .views-field-image-URL img,
  .no-user-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .chr_panel__footer {
    border-top: none;
    margin-top: 0px;
  }

  .views-field-nothing .field-content {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
  }

  .views-field-ni-ssn-70 .field-content {
    width: 100%;
  }

  .nsi-exists.nsi-application-in-progress-1 {
    > * {
      display: none;
    }

    .nsi-application-status {
      display: block;
    }
  }

  div.views-field-display-name {
    color: $crm-gray-darker-alt;
    font-size: $crm-font-size-large;
    margin-bottom: 5px;

    .views-label {
      display: none;
    }

    > * {
      width: 100%;
    }
  }

  .nsi-application-status > * {
    display: inline-block;
    float: left;
    width: 50%;
  }

  .nsi-application-status.not-applying,
  .nsi-application-status.No {
    display: none;
  }
}

.view-mydetails-personal,
.view-mydetails-myaddress,
.view-id-mydetails_myrole,
.view-mydetails-payrollinformation {
  @extend .my-details-view-panel;
}

.view-mydetails-contactdetails {
  .views-field-nick-name {
    @extend .my-details-view-panel;
    overflow: hidden;
  }

  .views-row {
    margin-bottom: 15px;
  }

  .view {
    clear: both;

    .views-row {
      display: flex;
    }
  }

  .chr_panel__footer {
    border-top: none;
    margin-top: 0px;
  }
}

.view-mydetails-emails .views-field-email {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
}

.view-mydetails-emails,
.view-mydetails-myphones {
  .views-field-location-type {
    width: 50%;

    .field-content {
      @include views-label;
    }
  }
}

.view-emergency-contacts {
  .views-label {
    @include views-label;
  }

  .field-content p {
    margin: 0px;
  }

  .row {
    margin-bottom: 15px;
  }

  .views-row {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 1rem;
    padding: 1rem 3rem 1rem 0;
    position: relative;
  }

  .views-row.views-row-last {
    border-bottom: none;
    margin-bottom: 0rem;
  }

  .views-field-emergency-contact-deletion {
    bottom: 1rem;
    font-size: $crm-font-size-large;
    position: absolute;
    right: 1rem;
    text-align: right;
  }

  .col-md-6:first-child .views-field {
    margin-bottom: 15px;
  }
}

.page-hr-details .panel-display .view-empty,
.page-hr-details .panel-display .view-empty-message {
  text-align: center;
}
