.pane-civihr-leave-absences-manager-leave {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.manager-leave-page {

  .button-container {
    margin-bottom: 40px;
  }

  .btn-group {

    > .btn {
      border-color: transparent;
    }
  }
}
