.onboarding-wizard-page {
  #edit-submitted-add-another-emergency-contact {
    .form-type-radio {
      width: 50%;
    }
  }

  label[for="edit-submitted-civicrm-1-contact-1-cg16-custom-73"] {
    padding-left: 20px !important;
  }

  .crm_wizard__title {
    .nav-pills {
      text-align: center;

      li {
        display: inline-block;
        float: none;
      }
    }
  }

  .form-group {
    display: inline-block;
    width: 100%;

    > label {
      color: $crm-wizard-font-color;
      display: block;
      font-size: 13px;
      padding: 0;
      width: 100%;
    }

    > div {
      padding: 0;
      width: 100%;

      div.form-item {
        background-color: $light;
        margin: 0;
      }
    }
  }

  .form-radios {
    background-color: transparent !important;

    > div {
      background-color: transparent !important;
      float: left;
      padding: 8px 12px;
      border: 1px solid $crm_color-neutral;
      border-right: none;
      margin: 0 !important;
    }

    > div:last-child {
      border-right: 1px solid $crm_color-neutral;
    }

    > div.checked {
      background-color: $crm-wizard-secondary-color !important;
      color: $light;
      border-color: transparent;
    }

    input[type='radio']:checked:after {
      border: 4px solid $light;
      border-radius: 15px;
      background-color: #000;
      content: '';
      display: inline-block;
      height: 15px;
      position: relative;
      visibility: visible;
      width: 15px;
    }
  }

  .fieldset-legend {
    &:before {
      display: none;
    }
  }

  .modal-civihr-custom__section {
    margin-left: auto;
    margin-right: auto;
    width: 475px;
  }

  .modal-civihr-custom__footer {
    padding-top: 20px;
  }

  .page-header {
    display: none;
  }

  .webform-next {
    background: $crm-wizard-secondary-color;
    border: 0;
    color: $light;

    &:focus {
      background: $crm-wizard-secondary-color;
      color: $light;
    }
  }

  .webform-calendar {
    padding: 7px 10px;

    &+.input-group-addon {
      background-color: $crm_gray-light-alt;
      border: 1px solid $crm-color-neutral;
      color: $crm-wizard-font-color;
      display: inline-block;
      height: 100%;
      line-height: 32px;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 40px;
    }
  }

  .webform-component-fieldset {
    background: transparent;
    box-shadow: none;
  }

  .webform-component-markup {
    background: transparent !important;

    .onboarding-fieldset-title {
      color: $crm-wizard-font-color;
      margin-top: -15px;
      font-size: 36px;
      font-weight: $headings-font-weight;
      text-align: center;
    }
  }

  .webform-component-radios {
    background-color: transparent !important;
  }

  .webform-component--civicrm-1-contact-1-contact-gender-id {
    .description {
      margin-bottom: 10px;
    }

    .form-type-radio {
      width: 33.33%;
    }
  }

  .webform-component--civicrm-1-contact-1-cg16-custom-73 {
    background-color: transparent !important;
    margin-bottom: -18px !important;
    position: relative;
    top: -23px;
    z-index: 2;

    .form-type-checkbox {
      background-color: transparent !important;
    }
  }

  .webform-container-inline.webform-datepicker div.form-item.form-type-select {
    display: none;
  }

  .webform-previous {
    background: $crm-wizard-primary-color;
    border: 0;
    color: $light;
    float: left;

    &:focus {
      background: $crm-wizard-primary-color;
      color: $light;
    }
  }
}

#onboarding-webform {
  > form > div:first-child {
    height: 160px;
  }
}
