//
// Variables override
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:         #535a67 !default;
$gray-dark:           #727e8a !default;
$gray-lighter:        #dddfe5 !default;

$brand-primary:         #3ab1c9 !default;
$brand-primary-light:   lighten(desaturate(adjust-hue($brand-primary, 4.9301), 34.7499), 45.6863) !default;
$brand-primary-lighter: lighten(desaturate(adjust-hue(#3ab1c9, -10.0699), 36.9721), 48.2353) !default;

$background-color:    #e8eef0 !default;
$border-color:        #e6ecef !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $background-color !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-size-base-unitless: 13;
$font-size-base:          13px !default;

$line-height-base:        1.53846153846154 !default; // 20/13


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical: 7px !default;

$border-radius-base: 2px !default;


//== Panels
//
//##

$panel-bg:                    transparent !default;
$panel-body-padding:          20px !default;
$panel-heading-padding:       10px 20px !default;
$panel-footer-padding:        10px 0 !default;
$panel-border-radius:         0 !default;

//** Border color for elements within panels
$panel-footer-bg:             #ffffff !default;

$panel-default-text:          $gray-darker !default;
$panel-default-heading-bg:    #ffffff !default;


//== Pagination
//
//##

$pagination-color:                     $gray-dark !default; //
$pagination-bg:                        transparent !default; //

$pagination-hover-color:               $gray-darker !default; //
$pagination-hover-bg:                  $pagination-bg !default; //

$pagination-active-color:              $gray-darker !default; //
$pagination-active-bg:                 $pagination-bg !default; //

$pagination-disabled-color:            $gray-lighter !default; //
$pagination-disabled-bg:               $pagination-bg !default; //


// //== Pager
// //
// //##

// $pager-bg:                             $pagination-bg !default;
// $pager-border:                         $pagination-border !default;
// $pager-border-radius:                  15px !default;

// $pager-hover-bg:                       $pagination-hover-bg !default;

// $pager-active-bg:                      $pagination-active-bg !default;
// $pager-active-color:                   $pagination-active-color !default;

// $pager-disabled-color:                 $pagination-disabled-color !default;
