// Styles for blocks.
// --------------------------------------------------

#block-header-welcome {
  padding: {
    bottom: 20px;
    top: 20px;
  }
  margin-top: 30px;

  h1 {
    margin: 0 0 4px;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .logo-rect-wrapper {
    @include box-shadow($crm-box-shadow-global);
    background: $light;
    max-width: 100%;
    width: 125px;
    height: 125px;
    border-radius: 125px;
    margin: 0 auto 17px;
    text-align: center;
    position: relative;

    img {
      max-width: 80%;
      left: 50%;
      position: absolute;
      top: 50%;
      @include transform(translate(-50%, -50%));

      &.round {
        border-radius: 50%;
      }
    }
  }
}
