.form-horizontal {
  .control-label {
    font-weight: normal;
    text-align: left;

    i {
      font-size: $font-size-base;
      vertical-align: super;
    }
  }
}

.form-control {
  border: 1px solid $input-border;
}

// This is a temporary copied class from Shoreditch theme
// @TODO remove this style below as soon as Shoreditch theme is applied
// Required mark (*)
.required-mark {
  &:after {
    color: $brand-danger;
    content:'*';
    margin-left: 5px;
  }
}
