.form-horizontal {

  .control-label {
    text-align: left;
    font-weight: normal;

    i {
      vertical-align: super;
      font-size: 0.3em;
    }
  }
}

.form-control {
  border: 1px solid $input-border;
}
