// Styles for Menus and Navs
// --------------------------------------------------

/**
 * User menu in main header <nav>
 */
.chr_header__user-menu {
  color: $light-pale;
  cursor: default;
  padding: 0 10px;
  position: relative;

  &:hover {
    background: $crm_gray-darker-alt;
    color: $light;

    > .chr_header__sub-menu {
      display: block;
    }
  }

  .chr_header__sub-menu {
    right: 0;
  }
}

.chr_header__user-menu__data {

  > .chr_header__user-menu__name {
    float: left;
  }

  > .chr_profile-card {
    margin: -2px 8px 0 8px; // To improve, the vertical margin is just to vertically align the card
    vertical-align: top;
  }

  @media(max-width: $screen-md-min) {
    > .chr_header__user-menu__arrow,
    > .chr_header__user-menu__name {
      display: none;
    }
  }
}

.chr_header__settings-menu {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  float: right;

  &:hover {
    background-color: $crm_gray-darker-alt;

    > .chr_header__sub-menu {
      display: block;
    }
  }

  > .fa-cog {
    font-size: 18px;
  }

  .chr_header__sub-menu {
    right: 0;
  }
}

.chr_header__home-menu {

  &:hover {
    > .chr_header__sub-menu {
      display: block;
    }
  }

  .chr_header__sub-menu {
    left: 0;
  }
}

.chr_header__sub-menu {
  background: $crm_gray-darker-alt;
  display: none;
  position: absolute;
  z-index: 99;

  li {
    text-align: left;
  }

  a {
    color: $light-pale;
    font-size: 1.3rem;
    display: block;
    padding: 0 30px 0 20px;
    white-space: nowrap;

    &:hover {
      background: $crm_brand-secondary;
      color: $light;
    }

    > i {
      margin-right: 10px;
    }
  }
}

//CiviHR menu in small devices
.chr_header__brand .chr_header__home-sub-menu {
  right: 0;
  width: 120px;
  margin: auto;
}

//Hide Menu link as part of SSP
.menu-link-home,
.menu-link-civihr-admin,
.menu-link-civihr-ssp {
  display: none;
}

@media (max-width: 767px) {
  //Show links in Mobile view and different background
  .menu-link-civihr-admin,
  .menu-link-civihr-ssp {
    display: block;
    background-color: $gray-light;
  }

  .menu-link-civihr-ssp > a {
    border-bottom: none !important;
  }

  .chr_header__nav__menu > li {
    border-bottom: none;
    padding: 0;
  }

  .chr_header__nav__menu > li > a {
    border-bottom: 1px solid $crm_grizzly;
    margin: 0 25px;
    padding: 0 20px;
  }

  .chr_header__nav__menu > li:last-child > a {
    border-bottom: none;
  }

  .chr_header__nav.is-open {
    padding: 0px
  }
}


//Hide Menus when not logged in
.not-logged-in {
  .menu-link-civihr-admin,
  .menu-link-civihr-ssp,
  .chr_header__home-menu .chr_header__sub-menu {
    display: none;
  }
}
