// Styles for Navs
// --------------------------------------------------

.tab-pane {
  background-color: $light;
  border: 1px solid $nav-tabs-border-color;
  border-top: none;
  padding: 20px;
}

.nav > li {
  a {
    background-color: transparent;
    color: $brand-primary;
  }
}

.nav-tabs-header {
  &.nav-justified {
    box-shadow: $crm-box-shadow-global;
    margin-bottom: 20px;

    li {
      a {
        background-color: $light;
        border: 0;
        border-bottom: 3px solid transparent;
        color: $gray-darker;
        cursor: pointer;
        font-size: $font-size-large;
      }

      &.active {
        a,
        a:hover,
        a:focus {
          border: 0;
          border-bottom: 3px solid $brand-primary;
          color: $brand-primary;
          cursor: auto;
        }
      }
    }
  }
}
