// Styles for Navs
// --------------------------------------------------

.nav > li > a {
  background-color: $light;
}

.nav-tabs-header {
  &.nav-justified {
    box-shadow: $crm-box-shadow-global;
    margin-bottom: 20px;

    li {
      a {
        font-size: 18px;
        color: $gray-darker;
        border: 0;
        border-bottom: 3px solid transparent;
        cursor: pointer;
      }

      &.active {
        a,
        a:hover,
        a:focus {
          color: $brand-primary;
          border: 0;
          border-bottom: 3px solid $brand-primary;
          cursor: auto;
        }
      }
    }
  }
}
