table,
.table {
  margin-bottom: 0;

  > thead {

    > tr {

      > th {
        border-bottom: 0;
        color: $gray-darker;
        text-transform: capitalize;

        :not(.table-nested) > & {
          background: $crm-table-heading-bg;
          padding: $crm-table-heading-padding $table-cell-padding;
        }
      }
    }
  }

  // The border below the headings should be darker
  &:not(.table-bordered) {

    > tbody {

      > tr:first-child {

        > td {

          :not(.table-nested) > & {
            border-color: $crm-table-heading-border-color;
          }
        }
      }
    }
  }
}

// A table nested in another table's <td>
.table-nested {
  $margin-y: nth($table-cell-padding, 1);
  $margin-x: nth($table-cell-padding, 2);

  border-color: $crm-table-nested-indent-color;
  border-style: solid;
  border-width: 2px 0 2px $crm-table-nested-indent-width;
  margin: -#{$margin-y} -#{$margin-x};
}
