table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: 0 !important;
        border-bottom: 1px solid $gray-light;
      }
    }
  }

  thead {
    > tr{
      > th {
        border-bottom: 1px solid $gray-light !important;
        color: $gray-darker;
        padding: 8px 20px !important;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 8px 20px !important;
      }
    }
  }
}
