table,
.table {
  margin-bottom: 0;

  > thead {

    > tr {

      > th {
        $padding-x: nth($table-cell-padding, 2);

        background: $crm-table-heading-bg;
        border-bottom: 0;
        color: $gray-darker;
        padding: $crm-table-heading-padding $padding-x;
        text-transform: capitalize;
      }
    }
  }

  // The border below the headings should be darker
  // unless it's a bordered or condensed table
  &:not(.table-bordered):not(.table-condensed) {

    > tbody {

      > tr:first-child {

        > td {
          border-color: $crm-table-heading-border-color;
        }
      }
    }
  }
}


// The condensed version does not have highlighted heading
// and the it maintains the standard padding for the leftmost and rightmost cells
.table-condensed {

  > thead {

    > tr {

      > th {
        background: $table-bg;
        padding: $table-condensed-cell-padding;
      }
    }
  }

  > tbody,
  > thead {
    $padding-x: nth($table-cell-padding, 2);

    > tr {

      > td,
      > th {

        &:first-child {
          padding-left: $padding-x;
        }

        &:last-child {
          padding-right: $padding-x;
        }
      }
    }
  }
}


// A table nested in another table's <td>
.table-nested {
  $margin-y: nth($table-cell-padding, 1);
  $margin-x: nth($table-cell-padding, 2);

  border-color: $crm-table-nested-indent-color;
  border-style: solid;
  border-width: 2px 0 2px $crm-table-nested-indent-width;
  margin: -#{$margin-y} -#{$margin-x};
}
