$padding-y: nth($table-cell-padding, 1);
$padding-x: nth($table-cell-padding, 2);

table,
.table {
  margin-bottom: 0;

  > thead {

    > tr {

      > th {
        background: $crm-table-heading-bg;
        border-bottom: 0;
        color: $gray-darker;
        padding: $crm-table-heading-padding;
        text-transform: capitalize;
      }
    }
  }

  // The border below the headings should be darker
  // unless it's a bordered or condensed table
  &:not(.table-bordered):not(.table-condensed) {

    > tbody {

      > tr:first-child {

        > td {
          border-color: $crm-table-heading-border-color;
        }
      }
    }
  }
}


// The condensed version does not have highlighted heading
// and the it maintains the standard padding for the leftmost and rightmost cells
.table-condensed {

  > thead {

    > tr {

      > th {
        background: $table-bg;
        padding: $table-condensed-cell-padding;
      }
    }
  }

  > tbody,
  > thead {

    > tr {

      > td,
      > th {

        &:first-child {
          padding-left: $padding-x;
        }

        &:last-child {
          padding-right: $padding-x;
        }
      }
    }
  }
}


// A table nested in another table's <td>
.table-nested {
  margin: -#{$padding-y} -#{$padding-x};

  tbody,
  thead {

    > tr {

      > td,
      > th {

        &:first-child {
          padding-left: $padding-x + $crm-table-nested-indent-width;
          position: relative;

          &:before {
            background: $crm-table-nested-indent-color;
            content: '';
            display: block;
            height: 102%;
            left: 0;
            position: absolute;
            top: 0;
            width: $crm-table-nested-indent-width;
          }
        }

        &:last-child {
          padding-right: $padding-x + $crm-table-nested-indent-width;
          position: relative;

          &:after {
            background: $crm-table-nested-indent-color;
            content: '';
            display: block;
            height: 102%;
            right: 0;
            position: absolute;
            top: 0;
            width: $crm-table-nested-indent-width;
          }
        }
      }
    }
  }
}
