@charset "UTF-8";
/* line 1514, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .views-widget, .content > .view-hr-vacancies .view-filters .views-widget {
  float: left;
}
/* line 17, ../sass/civihr_default/_functions.scss */
.content > .view-hr-documents .view-filters .views-widget-filter-combine:before, .content > .view-hr-vacancies .view-filters .views-widget-filter-combine:before, .content > .view-hr-documents .view-filters .views-widget-filter-combine:after, .content > .view-hr-vacancies .view-filters .views-widget-filter-combine:after,
.content > .view-hr-documents .view-filters .views-submit-button:before,
.content > .view-hr-vacancies .view-filters .views-submit-button:before,
.content > .view-hr-documents .view-filters .views-submit-button:after,
.content > .view-hr-vacancies .view-filters .views-submit-button:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1522, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .views-widget-filter-combine .views-widget, .content > .view-hr-vacancies .view-filters .views-widget-filter-combine .views-widget {
  width: 40%;
}
/* line 1527, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .views-widget-filter-field_resource_type_tid .views-widget, .content > .view-hr-vacancies .view-filters .views-widget-filter-field_resource_type_tid .views-widget {
  width: 20%;
  padding-right: 10px;
}
/* line 1533, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .views-widget-per-page, .content > .view-hr-vacancies .view-filters .views-widget-per-page {
  width: 20%;
  float: left;
  padding-left: 10px;
}
/* line 1538, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .views-widget-per-page:after, .content > .view-hr-vacancies .view-filters .views-widget-per-page:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #ecedee;
  bottom: 50px;
  position: absolute;
  left: 0;
}
/* line 1547, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .view-filters .form-submit, .content > .view-hr-vacancies .view-filters .form-submit {
  margin-top: 30px;
}
/* line 1551, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource, .content > .view-hr-vacancies .row-hr-resource {
  margin: 0 -20px;
  padding: 20px 5px;
}
/* line 1556, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource.views-row-odd, .content > .view-hr-vacancies .row-hr-resource.views-row-odd {
  background: #fbfbfc;
  border-top: 1px solid #ecedee;
  border-bottom: 1px solid #ecedee;
}
/* line 1561, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource blockquote, .content > .view-hr-vacancies .row-hr-resource blockquote {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
}
/* line 1568, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .views-field-body .col-md-2, .content > .view-hr-vacancies .row-hr-resource .views-field-body .col-md-2 {
  display: none;
}
/* line 1574, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .views-field-body p, .content > .view-hr-vacancies .row-hr-resource .views-field-body p {
  margin-top: 0;
}
/* line 1579, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource #resource-modal a, .content > .view-hr-vacancies .row-hr-resource #resource-modal a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #4c4c5d;
}
/* line 1585, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-legend, .content > .view-hr-vacancies .row-hr-resource .fieldset-legend {
  margin-left: -5px;
}
/* line 1588, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-title, .content > .view-hr-vacancies .row-hr-resource .fieldset-title {
  color: #767b8e;
  font-size: 1.3rem;
  margin-left: 5px;
}
/* line 1593, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource fieldset, .content > .view-hr-vacancies .row-hr-resource fieldset {
  padding: 0 15px;
  border: 0;
}
/* line 1597, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper, .content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper {
  margin-top: 20px;
  background: #f0f1f4;
  padding: 15px 20px;
}
/* line 1602, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper .hr-doc-label, .content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper .hr-doc-label,
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper thead,
.content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper thead,
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper td:last-child,
.content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper td:last-child {
  display: none;
}
/* line 1607, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper tbody, .content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper tbody {
  border: none;
}
/* line 1610, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper a, .content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper a {
  font-size: 1.3rem;
}
/* line 1613, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .fieldset-wrapper img, .content > .view-hr-vacancies .row-hr-resource .fieldset-wrapper img {
  position: relative;
  top: -2px;
  margin-right: 4px;
}
/* line 1619, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource tr.odd, .content > .view-hr-vacancies .row-hr-resource tr.odd {
  background: none;
}
/* line 1622, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource th, .content > .view-hr-vacancies .row-hr-resource th,
.content > .view-hr-documents .row-hr-resource td,
.content > .view-hr-vacancies .row-hr-resource td,
.content > .view-hr-documents .row-hr-resource tr,
.content > .view-hr-vacancies .row-hr-resource tr {
  border: 0;
}
/* line 1627, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .hr-resouce-download-all, .content > .view-hr-vacancies .row-hr-resource .hr-resouce-download-all {
  width: 100%;
  font-family: "Lato", sans-serif;
  word-spacing: 0;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: right;
}
/* line 25, ../sass/civihr_default/_functions.scss */
.content > .view-hr-documents .row-hr-resource .hr-resouce-download-all:before, .content > .view-hr-vacancies .row-hr-resource .hr-resouce-download-all:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 13px;
}
/* line 1637, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .row-hr-resource .hr-resouce-download-all:before, .content > .view-hr-vacancies .row-hr-resource .hr-resouce-download-all:before {
  margin-right: 4px;
}
/* line 1642, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list, .content > .view-hr-vacancies .item-list {
  background: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 20px 20px;
  text-transform: capitalize;
}
/* line 1649, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list, .content > .view-hr-vacancies .item-list,
.content > .view-hr-documents .item-list a,
.content > .view-hr-vacancies .item-list a {
  color: #767b8e;
}
/* line 1653, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list .page-current, .content > .view-hr-vacancies .item-list .page-current {
  color: #4c4c5d;
  font-weight: 700;
}
/* line 1657, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list .pager-current, .content > .view-hr-vacancies .item-list .pager-current {
  text-transform: none;
}
/* line 1660, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list ul, .content > .view-hr-vacancies .item-list ul {
  margin: 0;
}
/* line 1663, ../sass/civihr_default/_custom.scss */
.content > .view-hr-documents .item-list li, .content > .view-hr-vacancies .item-list li {
  display: inline-block;
  margin-right: 5px;
}

/* line 1671, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents, .modal-body .content > .view-hr-vacancies {
  margin: 0;
  padding: 0;
}
/* line 1675, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .view-content, .modal-body .content > .view-hr-vacancies .view-content {
  padding: 0;
}
/* line 1678, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .hr-resouce-download-all, .modal-body .content > .view-hr-vacancies .hr-resouce-download-all {
  font-family: "Lato", sans-serif;
  word-spacing: 0;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: right;
}
/* line 25, ../sass/civihr_default/_functions.scss */
.modal-body .view-hr-documents .hr-resouce-download-all:before, .modal-body .content > .view-hr-vacancies .hr-resouce-download-all:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 13px;
}
/* line 1689, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .hr-resouce-download-all:before, .modal-body .content > .view-hr-vacancies .hr-resouce-download-all:before {
  margin-right: 4px;
}
/* line 1693, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .hr-documents-body-block + .views-field-nothing, .modal-body .content > .view-hr-vacancies .hr-documents-body-block + .views-field-nothing {
  border-top: 1px solid #ecedee;
  margin-top: 20px;
  padding-top: 10px;
}
/* line 1698, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .resource-uploaded-date, .modal-body .content > .view-hr-vacancies .resource-uploaded-date {
  padding-top: 6px;
  color: #c3cbd6;
}
/* line 1702, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents .views-label-body, .modal-body .content > .view-hr-vacancies .views-label-body {
  color: #4c4c5d;
  margin-bottom: 20px;
  display: inline-block;
}
/* line 1707, ../sass/civihr_default/_custom.scss */
.modal-body .view-hr-documents p:first-child, .modal-body .content > .view-hr-vacancies p:first-child {
  margin-top: 0;
}

/* Page: HR Vacancies */
/* line 1719, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .view-filters .views-widget {
  width: 40%;
}
/* line 17, ../sass/civihr_default/_functions.scss */
.content > .view-hr-vacancies .views-exposed-widget:before, .content > .view-hr-vacancies .views-exposed-widget:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1726, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .views-submit-button {
  border-top: 1px solid #ecedee;
  margin-top: 20px;
}
/* line 1730, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .views-submit-button .form-submit {
  margin-top: 10px;
}
/* line 1734, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .view-content {
  font-size: 1.3rem;
}
/* line 1737, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .views-row {
  margin: 0 -20px;
  padding: 20px;
}
/* line 17, ../sass/civihr_default/_functions.scss */
.content > .view-hr-vacancies .views-row:before, .content > .view-hr-vacancies .views-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1744, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .views-row > .views-field:first-of-type .field-content {
  color: #41afcb;
}
/* line 1749, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .views-row-odd {
  background: #fbfbfc;
  border-top: 1px solid #ecedee;
  border-bottom: 1px solid #ecedee;
}
/* line 1754, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .field-content {
  margin-top: 10px;
}
/* line 1757, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .field-content .btn, .content > .view-hr-vacancies .field-content .view-approvals .absence-approval-actions .view-header .ctools-use-modal, .view-approvals .absence-approval-actions .view-header .content > .view-hr-vacancies .field-content .ctools-use-modal, .content > .view-hr-vacancies .field-content .modal-body .view-hr-documents .hr-resouce-download-all, .modal-body .content > .view-hr-vacancies .field-content .hr-resouce-download-all {
  background: none;
  padding: 0;
  color: #41afcb;
}
/* line 1763, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .vacancy-wrapper {
  margin: 0;
}
/* line 1766, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .vacancy-wrapper:last-of-type {
  text-align: right;
  float: right;
}
/* line 1770, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .vacancy-wrapper:last-of-type .field-content {
  margin-top: 0;
}
/* line 1776, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-legend {
  margin-left: -6px;
}
/* line 1779, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-title {
  color: #767b8e;
  font-size: 1.3rem;
  margin-left: 5px;
}
/* line 1784, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies fieldset {
  padding: 0;
  border: 0;
  margin-top: 20px;
}
/* line 1789, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-wrapper {
  margin-top: 20px;
  background: #f0f1f4;
  padding: 15px 20px;
}
/* line 1794, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-wrapper .views-field {
  margin-bottom: 15px;
}
/* line 1797, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-wrapper .views-field:last-child {
  margin-bottom: 0;
}
/* line 1801, ../sass/civihr_default/_custom.scss */
.content > .view-hr-vacancies .fieldset-wrapper .views-label {
  width: 16.6%;
  display: inline-block;
}

/* Page: HR Staff Directory */
/* line 1811, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory {
  background: none;
  padding: 0;
}
/* line 1815, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory table {
  font-size: 1.3rem;
  table-layout: fixed;
  width: auto;
}
/* line 1821, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters,
.view-hr-staff-directory .view-content,
.view-hr-staff-directory .item-list {
  background: #fff;
  padding: 20px;
  overflow-x: auto;
}
/* line 1828, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters {
  margin-bottom: 20px;
}
/* line 1831, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .views-exposed-form {
  position: relative;
}
/* line 1834, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .views-exposed-form:after {
  content: "";
  border-bottom: 1px solid #ecedee;
  width: 100%;
  position: absolute;
  bottom: 55px;
}
/* line 1842, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .views-exposed-widgets {
  margin: 0 -10px;
}
/* line 1845, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .views-exposed-widget:not(.views-submit-button) {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin-bottom: 10px;
}
/* line 1851, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .views-submit-button {
  padding: 0 10px;
}
/* line 17, ../sass/civihr_default/_functions.scss */
.view-hr-staff-directory .view-filters .views-submit-button:before, .view-hr-staff-directory .view-filters .views-submit-button:after {
  content: "";
  display: table;
  clear: both;
}
/* line 1855, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-filters .form-submit {
  margin-top: 30px;
}
/* line 1860, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-content .table-responsive {
  margin-top: -20px;
}
/* line 1863, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .view-content th,
.view-hr-staff-directory .view-content td {
  padding: 15px 20px;
}
/* line 1868, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .item-list {
  padding-top: 0;
  font-size: 1.3rem;
  text-transform: capitalize;
}
/* line 1873, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .item-list .pager-current {
  color: #555862;
  font-weight: 700;
}
/* line 1877, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .item-list,
.view-hr-staff-directory .item-list a {
  color: #767b8e;
  font-weight: 400;
}
/* line 1882, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .item-list .pagination {
  margin-bottom: 0;
  text-align: left;
}
/* line 1886, ../sass/civihr_default/_custom.scss */
.view-hr-staff-directory .item-list .first {
  padding-left: 0;
}

/* Login/Register page */
/* line 1894, ../sass/civihr_default/_custom.scss */
.block-user {
  padding: 0 20px;
}

/* line 1897, ../sass/civihr_default/_custom.scss */
#user-pass,
#user-login,
#user-register-form {
  padding: 0 15px;
}

/* Print leave report */
/* line 1905, ../sass/civihr_default/_custom.scss */
.page-print-leave-report .view-absence-entitlement {
  margin: 0;
  padding: 0;
}
/* line 1911, ../sass/civihr_default/_custom.scss */
.page-print-leave-report .entitlement-date-row + tr {
  border-top: 1px solid #ecedee;
}

/* hide slider nav arrows when inactive */
/* line 1917, ../sass/civihr_default/_custom.scss */
.jcarousel-container [disabled] {
  display: none;
}
