.chr_panel__actions {
    @extend .clearfix;

    padding-top: 20px;
    text-align: right;

    > .chr_action,
    > .chr_panel__actions__inline-duo {
        display: block;
        margin-bottom: 10px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media(min-width: $screen-sm-min) {
        > .chr_action,
        > .chr_panel__actions__inline-duo {
            display: inline-block;
            margin-bottom: 0;
            width: auto;
        }

        .chr_action {
            margin-left: 10px;
        }
    }
}

.chr_panel__actions__inline-duo {
    @extend .clearfix;

    > .chr_action {
        width: 48%;

        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }

    @media(min-width: $screen-sm-min) {
        > .chr_action {
            float: none !important;
            width: auto;
        }
    }
}

.chr_panel__header {
    box-shadow: none;
}

.chr_panel__header--w-actions {
    @extend .chr_panel__header;

    position: relative;

    [class*="chr_action"] {
        float: none;
        margin-left: 15px;
        vertical-align: top;
    }

    .form-type-select {
        @include fa('\f0d7');
        display: inline-table; // Safari *shrugs*
        padding: 0;

        &:before {
            float: right;
            margin: 4px 0 0 4px;
        }

        > select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: none;
            border: 0;

            &::-ms-expand {
                display: none;
            }
        }
    }

    .pane-title {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .views-exposed-widget {
        display: inline-block;
    }

    .views-exposed-widgets {
        position: relative;
        text-align: right;
        z-index: 2;
    }
}
