.chr_panel__actions {
    @extend .clearfix;

    padding-top: 20px;
    text-align: right;

    > .chr_action,
    > .chr_panel__actions__inline-duo {
        display: block;
        margin-bottom: 10px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media(min-width: $screen-sm-min) {
        > .chr_action,
        > .chr_panel__actions__inline-duo {
            display: inline-block;
            margin-bottom: 0;
            width: auto;
        }

        .chr_action {
            margin-left: 10px;
        }
    }
}

.chr_panel__actions__inline-duo {
    @extend .clearfix;

    > .chr_action {
        width: 48%;

        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }
    }

    @media(min-width: $screen-sm-min) {
        > .chr_action {
            float: none !important;
            width: auto;
        }
    }
}
