/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Feb-2015, 11:36:56
    Author     : gergelymeszaros
*/

$wrapper-width:     18%;
$max-tablet-size:   767px;
$images-icons-path: "../images/icon/";
$icon-asc-path:     "asc.gif";
$icon-desc-path:    "desc.gif";

/**
 * Vacancy list view page default styling
 */
.vacancy-wrapper {
    width: $wrapper-width;
    margin: 1%;
    float: left;
}

/**
 * Views exposed form styling
 */
@mixin exposed-form-default-style($width) {
    float: none;
    display: block;
    width: $width;
}

.views-exposed-form .views-exposed-widget {
    @include exposed-form-default-style(50%);

    @media screen and (max-width: $max-tablet-size) {
        @include exposed-form-default-style(100%);
    }
}

/**
 * Manager approval search highlight color
 */
.manager-approval-main-table em {
    background-color: yellow
}

/**
 * Manager approval th header color
 */
.header-class {
    background: #c0c0c0;
}

/**
 * Manager approval search th icons default style
 */
@mixin manager-approval-main-table-sort($sort-image) {
    background-image: url(#{$images-icons-path}#{$sort-image});
    background-repeat: no-repeat;
    background-position: right center;
}

/**
 * Manager approval search th icons -> UP
 */
table.manager-approval-main-table th.headerSortUp {
    @include manager-approval-main-table-sort($icon-asc-path);
}

/**
 * Manager approval search th icons -> DOWN
 */
table.manager-approval-main-table th.headerSortDown {
    @include manager-approval-main-table-sort($icon-desc-path);
}

/**
 * Quick Approve / Reject buttons default style
 */
#quick-approve {
    display: inline;
}

/**
 * Manager Approval Tooltip settings
 */
.manager-approval-main-table .views-tooltip {
    @media screen and (min-width: $screen-lg-desktop) {
        float: right;
    }

}

/**
 * Manager AJAX filters block / inline settings
 */
.btn-custom-block {
    @media screen and (min-width: $screen-tablet) {
        display: block;
    }

}

/* Manager approval custom filters bootstrap button style */
// .btn-custom { margin-top: 5px; margin-right: 5px; background-color: hsl(0, 0%, 16%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828"); background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828)); background-image: -moz-linear-gradient(top, #5b5b5b, #282828); background-image: -ms-linear-gradient(top, #5b5b5b, #282828); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828)); background-image: -webkit-linear-gradient(top, #5b5b5b, #282828); background-image: -o-linear-gradient(top, #5b5b5b, #282828); background-image: linear-gradient(#5b5b5b, #282828); border-color: #282828 #282828 hsl(0, 0%, 11%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

/**
 * Hr resource page custom styles
 */

/* jCarousel styles */
.jcarousel-skin-default .jcarousel-item {
    min-height: 200px;
    height: auto;
}

/* jCarousel styles end */

.hr-documents-title-block {
    min-height: 40px;
}

.hr-documents-body-block {
    min-height: 120px;
}

.row-hr-resource {
    margin-bottom: 10px;
}

.hr-resouce-download-all {
    word-spacing: -8px;
    font-weight: bolder;
}

.footer-slider-block {
    min-height: 280px;
}

/**
 * Hr resource page custom styles end
 */


// --------------------------------
// Mockup design styles
// Author: Cezar Derevlean
// --------------------------------

/* Overwrite inherited styles */

.views-exposed-form .views-exposed-widget {
    padding: 0;
}
.item-list ul li {
    margin: 0;
}

/* Helpers */

.relative {
    position: relative;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nofloat {
    float: none;
}

/* General styles */

body {
    font-family: $sans;
    color: $gray;
    background: $gray-light;
}

/* Lists */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Links */

a {
    text-decoration: none;
    color: $brand-color;

    &:hover {
        text-decoration: none;
        color: rgba($brand-color, 0.8);
    }
    &:active,
    &:focus {
        text-decoration: none;
    }
}

/* Headings */

h1 {
    font-size: 3.6rem;
    font-weight: 300;
    color: $gray-darker-alt;
    margin: 25px 0;
}
h4 {
    font-size: 1.8rem;
    color: $gray-darker;
    font-weight: 400;
}
h5 {
    font-size: 1.6rem;
    color: $gray-darker;
    font-weight: 400;
}

/* Tables */

.table-responsive {
    margin: 0 -20px;
}
table {
    font-size: 1.3rem;
    width: 100%;
    table-layout: fixed;
}
th,
td {
    border-bottom: 1px solid $gray-light;
    padding: 8px 20px;
    line-height: 1.3;
}
th {
    color: $gray-darker;
}
tr {
    &.odd {
        background: $gray-lighter;
    }
    &.even {
        background: none;
    }
}

.container.collapse {
    padding: 0;
}

/* Modals */

#modalBackdrop {
    display: none !important;
}
.modal-dialog {
    .close {
        color: $gray;
        border: 0;
        background: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        line-height: 1;
        font-size: 2.2rem;
        padding: 0;
    }
}
.modal-content {
    background: $light;
    min-height: 500px;
    border: 1px solid $color-neutral;
}
.modal-header,
.modal-body {
    padding: 20px;
}
.modal-header {
    border-bottom: 1px solid $gray-light;

    h4 {
        margin: 0;
    }
}
.modal-body {
    height: auto !important;
}

/* Modal manager calendar */

.civihr-employee-portal-manager-calendar-block {
    font-size: 1.2rem;

    h2 {
        display: none;
    }

    .content > .views-tooltip {
        font-size: 1.6rem;
        font-weight: 700;
        color: $gray-darker-alt;
        // background: $gray-lighter;
        margin-bottom: 20px;
    }
    .table-responsive {
        border-top: 1px solid $gray-light;
        margin: 0 -43px 0 -20px;
    }
    thead {
        background: $gray-lighter;
    }
    table:not(.calendar-legend) {
        th,
        td {
            padding: 8px 10px;
            border-right: 1px solid $gray-light;

            &:first-child {
                padding: 8px 20px;
                width: 200px;
                background: $gray-lighter;
            }
            &:not(:first-child) {
                padding: 8px 0;
                text-align: center;
            }
        }
        tbody {
            .views-tooltip {
                font-size: 1.1rem;
            }
        }
    }
    // Highlight days in calendar
    // td:not(:first-child):not(:empty) {
    //     background: $tertiary-color;
    //     color: $light;
    // }
}

.calendar {
    width: auto;
    text-align: right;
    margin-top: 20px;

    .table-responsive {
        border-top: 0;
    }
}
.calendar-legend {

    thead {
        display: none;
    }
    tbody {
        border-top: 0;
    }
    tr {
        position: relative;

        &:last-child {
            td {
                margin-right: 10px;
            }
        }
        &.odd {
            background: none;
        }
    }
    tr,
    th,
    td {
        border: 0;
        display: inline-block;
    }
    td {
        &:first-child {
            margin-right: 40px;
        }
        &:not(:first-child) {
            position: absolute;
            left: -10px;
        }
    }
    .stripe {
        width: 10px;
        height: 10px;
        margin: 6px 0;
    }
}

/* Modal: Calendar */

.view-calendar-absence-list {
    .view-header {
        margin: -20px -43px 0 -20px;
        padding: 20px;
        background: $gray-lighter;

        .date-nav-wrapper {
            margin: 0;
        }
        .date-nav {
            margin: 0;
            padding: 0;
        }
        h3 {
            font-size: 1.6rem;
            color: $gray-darker;
            font-weight: 400;
        }
        .pager {
            margin: 0;
        }
        .date-prev,
        .date-next {
            margin-top: -8px;
            left: -28px;

            .btn {
                font-size: 0;
                background: none;
                color: $gray-darker;
                @include fa("\f104", 16);
            }
        }
        .date-next {
            left: auto;
            right: -28px;

            .btn {
                @include fa("\f105", 16);
            }
        }
    }
    &.view {
        margin: 0;
        padding: 0;
    }
    .view-footer {
        h2 {
            display: none;
        }
    }
}
.calendar-calendar {
    margin: 0 -43px 0 -20px;

    th,
    td {
        border-right: 1px solid $gray-light;
        padding: 15px;
        text-align: right;

        &.empty {
            background: $gray-lighter;
        }
    }
    .today {
        .day {
            display: inline-block;
            background: $tertiary-color;
            border-radius: 50px;
            color: $light;
            width: 2.2rem;
            height: 2.2rem;
            line-height: 2.2rem;
            text-align: center;

            a {
                color: inherit;
            }
        }
    }
    thead {
        border-top: 1px solid $gray-light;

        th {
            text-align: center;
        }
    }
    .date-box,
    .multi-day {
        border-bottom: 0;
    }
    .multi-day,
    .single-day {
        padding: 0;
    }
    .date-box {
        .inner {
            min-height: 15px;
        }
    }
    .single-day {
        padding-bottom: 15px;
    }
}
.view-item-calendar_absence_list {
    position: relative;

    .calendar {
        margin: 0;
    }
    .stripe {
        height: 30px;
    }
    .contents {
        font-size: 1.1rem;
        @include vertical-align(absolute);
        padding: 0 10px;
        color: $light;

        .views-field:not(.views-field-absence-title) {
            display: none;
        }
    }
    .cutoff {
        display: none;
    }
}

/* Modal: My details, Emergency contact */

.modal-body article,
#civihr-employee-portal-absence-request-form {
    max-width: 640px;
    margin: 0 auto;

    h2 {
        display: none;
    }
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;

        &:first-of-type {
            .fieldset-legend {
                margin-top: 0;
            }
        }
    }
    .fieldset-legend {
        font-size: 1.6rem;
        margin: 40px 0 20px;

        a {
            color: $gray-darker;
            margin-left: 10px;
        }
    }
    .grippie {
        display: none;
    }
    .form-item {
        @include clearfix;

        label {
            display: block;
            float: left;
            width: 35%;
            padding: 10px 0;
            font-size: 1.3rem;
            color: $gray-darker;
        }
    }
    .form-control,
    .form-managed-file,
    .form-managed-file + .description {
        display: block;
        float: left;
        width: 65%;
    }
    .webform-container-inline {
        width: 65%;
        float: left;

        .form-item {
            width: 100%;
            max-width: 100px;
            margin-right: 20px;
            float: left;
        }
        .form-control {
            width: 100%;
            float: none;
        }
        .webform-calendar {
            margin: 10px 0;
        }
    }
    select {
        &[id*="country"],
        &[id*="state"],
        &[id*="custom"] {
            margin: 10px 0;
        }
    }
    .form-actions {
        border-top: 1px solid $gray-light;
        padding-top: 10px;
        margin-top: 30px;

        .btn {
            padding: 0.8rem 6rem;
        }
    }
}

/* Modal: Request leave */

#civihr-employee-portal-absence-request-form {
    @include clearfix;

    #absence-request-dates-selected {
        @include clearfix;
    }
    .container-inline-date {
        & > .form-item {
            width: 100%;
        }
        .date-padding {
            padding: 0;
            width: 65%;

            .form-item {
                width: 100%;

                .form-control {
                    width: 100%;
                    float: none;
                }
            }

            label {
                display: none;
            }
        }
        .help-block {
            display: none;
        }
    }
    #absence-request-dates-selected {
        border-bottom: 1px solid $gray-light;
        border-top: 1px solid $gray-light;
        margin: 20px 0;
        padding-top: 20px;
    }
    .form-type-textarea {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }
    .form-submit {
        padding: 0.8rem 6rem;
    }
    select {
        margin: 10px 0;
    }
}


/* Splitters */

.vertical-splitter {
    position: absolute;
    height: 100%;
    width: 0;
    border-left: 1px solid $gray-light;
}
.splitter-top {
    border-top: 1px solid $gray-light;
    margin-top: 20px;
    padding-top: 20px;
}

/* Buttons */

.btn {
    background: $brand-color;
    color: $light;
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    border: 0;
    text-align: center;

    &:hover {
        color: $light;
        background: rgba($brand-color, 0.8);
    }
}

/* Forms */

form {
    hr {
        margin-top: 40px;
    }
    .btn {
        float: right;
    }
}
.form-item {
    padding: 10px 0;
    margin: 0;

    label {
        display: none;
    }
}
.form-text {
    border: 1px solid $color-neutral;
    font-size: 1.3rem;
    color: $gray;
    padding: 10px;
    margin: 0;
    width: 100%;
}

/* Header */

.header {
    background: $gray-dark;
    font-size: 1.3rem;
    color: $light-pale;
    line-height: 5rem;
    box-shadow: 0 2px 3px 0 rgba(black, 0.15);

    @include clearfix;
}
.navbar-toggle {
    display: none;
}
.navbar-header {
    float: left;
}
.navbar-brand {
    display: block;
    font-size: 1.6rem;
    color: $light;
    padding: 0 16px;
    background: $brand-color;

    &:hover {
        color: rgba($light, 0.8);
    }
}
.navbar-collapse {
    float: left;

    .menu {
        li {
            float: left;
        }
        a {
            color: inherit;
            display: block;
            padding: 0 15px;
        }
        .active,
        a:hover {
            background: $gray;
            color: $light;
        }
    }
}
.breadcrumb {
    display: none;
}


/* Main / Dashboard */

.main {
    background: $gray-light;
}

/* Panels / Dashboard Carousel */

.pane-block,
.view {
    background: $light;
    padding: 20px;
    margin: 0 0 30px 0;
    @include clearfix;
}
.pane-block[class*="absence-list"] {
    margin: 0;
}
.view {
    margin: 0 15px;
}
.pane-block {
    .view {
        padding: 0;
        margin: 0;
    }
    .jcarousel-container {
        margin: 0 -10px;
        padding: 0 26px;
    }
    .jcarousel-clip {
        overflow: hidden;
    }
    .jcarousel-item {
        width: 193px;
        margin: 0 10px;
        padding: 20px;
        background: $gray-light-alt;
    }
    .jcarousel-prev,
    .jcarousel-next {
        position: absolute;
        height: 100%;
        width: 26px;
        display: block;
        left: 10px;
        top: 0;
        text-align: center;
        color: $gray;
        background: $light;

        @include fa("\f104", 24);

        &:before {
            @include vertical-align;
            display: block;
        }
    }
    .jcarousel-next {
        left: auto;
        right: 10px;

        @include fa("\f105", 24);
    }
}
.views-exposed-form .views-exposed-widget {
    width: auto;
}
.views-widget-filter-absence_start_date_period_filter label {
    font-size: 1.8rem;
    color: $gray-darker;
    font-weight: 400;
    width: auto;
}
.views-widget-filter-absence_start_date_period_filter label,
.pane-title {
    margin: 0 -20px 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid $gray-light;
    line-height: 1;

    &:first-child {
        margin-top: 0;
    }
}

/* My details */

.profile-image {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.custom-scale-image {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 140px;
}
.civihr-employee-portal-my-details-block {
    position: relative;

    h5 {
        margin: 0;
    }
    .views-field {
        @include clearfix;

        font-size: 1.3rem;
        margin-top: 1.4rem;
    }
    .views-label,
    .field-content {
        width: 50%;
        display: block;
        float: left;
    }
    .views-label {
        color: $gray-darker;
    }
    .actions {
        font-size: 0;

        .btn {
            margin-left: 10px;

            @include fa("\f044");

            &:before {
                margin-right: 8px;
            }
        }
    }
}

.footer-slider-block {
    position: relative;

    .views-field {
        margin-top: 1.4rem;

        &:first-child {
            margin-top: 0;
        }
    }
    .view-header {
        position: absolute;
        top: 7px;
        right: 20px;
        font-size: 1.3rem;

        a {
            color: $gray;
        }
    }
    .view-hr-vacancies {
        .jcarousel-item {
            position: relative;
            padding-bottom: 55px;
        }
        .btn {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
    .view-hr-documents {
        .btn {
            width: 100%;
        }
    }
}

/* Absencies */

.block-civihr-employee-portal {
    text-align: right;

    .btn {
        margin-left: 10px;
    }
}
#absence-links {
    height: auto !important;
    border-top: 1px solid $gray-light;
    padding-top: 20px;
    margin-top: 40px;
}
.pane-civihr-employee-portal-leave {
    tr {
        &.odd {
            background: none;
        }
        &.even {
            background: $gray-lighter;
        }
    }
}
.view-absence-list {
    & > .view-header,
    & > .view-footer {
        tbody {
            tr {
                font-weight: 700;
                color: $gray-darker;
                background: $gray-lighter;
            }
        }
    }
    & > .view-content {
        tbody {
            border: 0;
        }
    }
    td,
    th {
        &:first-child {
            width: 28%;
        }
    }
}
[class*="pane-views-exp-absence-list-page"] {
    padding-bottom: 0;

    .views-exposed-widgets {
        margin: 0;
    }
    .views-widget {
        position: absolute;
        top: 19px;
        right: 35px;
    }
    .form-item {
        padding: 0;
    }
}
label[for*="edit-absence-start-date-period-filter"] {
    margin-bottom: 0;
}
.calendar-btn {
    background: none;
    color: $gray;
    padding-right: 0;

    @include fa("\f073");

    &:before {
        margin-right: 8px;
    }
    &:hover {
        background: none;
        color: $gray;
    }
}
.pane-views-exp-absence-list-page {
    .views-widget {
        right: 164px;
    }
    .views-submit-button {
        position: absolute;
        top: 13px;
        right: 35px;

        .btn {
            @extend .calendar-btn;
        }
    }
}
.pane-civihr-employee-portal-leave,
.pane-civihr-employee-portal-sick {
    padding-top: 0;
}

.view-empty {
    p {
        margin: 0;
        padding: 15px 0;
    }
}

/* Manager absence approval */

.view-approvals {
    &:before {
        content: "";
        position: absolute;
        left: 25%;
        height: 100%;
        border-left: 1px solid $gray-light;
        margin-left: 14px;
        display: block;
    }
    .absence-approval-actions {
        position: absolute;
        top: 13px;
        right: 35px;

        .view-header,
        .view-content {
            display: inline-block;
        }
        .view-header {
            p {
                margin: 0;
            }
            .ctools-use-modal {
                @extend .btn;
                @extend .calendar-btn;
            }
        }
        .view-content {
            margin-left: 20px;

            .input-group {
                position: relative;
            }
            .btn {
                position: absolute;
                top: 0;
                right: 2px;
                padding: 6px;
                font-size: 1.1rem;
                line-height: 1;
                background: none;
                color: $color-neutral;
                cursor: default;
            }
            .form-control {
                @extend .form-text;
                padding: 2px 8px;
            }
        }
    }
}
.pane-views-approvals-block-1 {
    h4 {
        margin-bottom: 0;
    }
}
.approval-filters {
    ul {
        margin: 0 -20px;
        font-size: 1.3rem;
        padding-top: 15px;
    }
    .badge {
        float: right;
        background: $brand-color;
        color: $light;
        border-radius: 100px;
        padding: 0 7px;
        min-width: 22px;
    }
    .btn {
        width: 100%;
        text-align: left;
        background: none;
        color: $brand-color;
        padding: 10px 20px;

        &.active,
        &:hover {
            background: $brand-color;
            color: $light;

            .badge {
                background: $light;
                color: $brand-color;
            }
        }
    }
}

// !important here overwrites css from tablesaw.css
.approval-overflow-content {
    margin: 0 -20px 0 -10px;
    padding-bottom: 20px;
    overflow: visible !important;
    height: auto !important;

    thead {
        background: none;
        border: 0;
    }
    tbody {
        border-top-color: $gray-light;
    }
    th,
    td {
        line-height: 1.3 !important;
    }
    th {
        background: none;
        text-shadow: none !important;
        color: inherit;
        border: none !important;
        text-transform: none !important;
        box-shadow: none;
        font-family: $sans !important;
        font-size: 1.3rem !important;
        color: $gray-darker !important;
    }
    .mode-columntoggle {
        display: none;
    }
    .views-tooltip {
        width: 70px;
        padding-right: 10px;
    }
    #quick-approve {
        .glyphicon {
            cursor: pointer;
            font-size: 1.4rem;
        }
        [class*="ok-sign"] {
            color: $color-safe;
            margin-right: 10px;
        }
        [class*="remove-sign"] {
            color: $color-danger;
        }
    }
}

/* User menu */

.user-options {
    float: right;
    margin-right: 30px;

    .user-name {
        padding: 0 10px;

        & > i {
            margin-left: 4px;
        }
    }

    .user-menu {
        float: left;
        margin-right: 10px;
        color: $light-pale;
        position: relative;
        cursor: default;

        &:hover {
            color: $light;
            background: $gray-darker-alt;

            .user-submenu {
                display: block;
            }
        }
    }
    .user-submenu {
        display: none;
        position: absolute;
        right: 0;
        background: $gray-darker-alt;

        a {
            display: block;
            padding: 0 40px 0 20px;
            white-space: nowrap;
            color: $light-pale;

            i {
                margin-right: 10px;
            }

            &:hover {
                color: $light;
                background: $secondary-color;
            }
        }
    }


    .user-picture {
        float: left;
        padding: 7px;

        a {
            width: 34px;
            height: 34px;
            display: block;
            overflow: hidden;
            border-radius: 50%;
        }

        img {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-height: 34px;
            display: block;
        }
    }
}

/* Footer */

.footer {
    background: $gray-light;
    color: $gray;
    padding: 50px 0;

    .footer-logo {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .copyright {
        font-size: 1.3rem;
        font-weight: 300;
    }
}
.page-dashboard {
    .footer {
        margin-top: -30px;
    }
}

/* Page: My details */

.page-hr-details {
    .civihr-employee-portal-my-details-block {
        background: $light;
        padding: 20px;
        margin: 0 15px;

        .view {
            margin: 0;
            padding: 0;
        }
    }
}

/* Page: HR Resources/Documents */

.view-hr-documents {
    background: none;
    padding: 0;

    .view-filters,
    .view-content {
        @include clearfix;
        background: $light;
        padding: 20px;
        margin-bottom: 20px;
    }
    .view-content {
        margin-bottom: 0;
    }
    .view-filters {
        label {
            width: 120px;
            float: left;
            font-size: 1.3rem;
            padding: 20px 0;
        }
        select {
            margin: 10px 0;
            width: 100%;
        }
        .views-exposed-widgets {
            position: relative;
        }
        .views-widget {
            float: left;
        }
        .views-widget-filter-combine,
        .views-submit-button {
            @include clearfix;
        }
        .views-widget-filter-combine {
            .views-widget {
                width: 40%;
            }
        }
        .views-widget-filter-field_resource_type_tid {
            .views-widget {
                width: 20%;
                padding-right: 10px;
            }

        }
        .views-widget-per-page {
            width: 20%;
            float: left;
            padding-left: 10px;

            &:after {
                content: "";
                width: 100%;
                border-bottom: 1px solid $gray-light;
                bottom: 50px;
                position: absolute;
                left: 0;
            }
        }
        .form-submit {
            margin-top: 30px;
        }
    }
    .row-hr-resource {
        @extend .row;
        margin: 0 -20px;
        padding: 20px 5px;

        &.views-row-odd {
            background: $gray-lighter;
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
        }
        blockquote {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: capitalize;
        }
        .views-field-body {
            .col-md-2 {
                display: none;
            }
            .col-md-10 {
                @extend .col-md-offset-2;
            }
            p {
                margin-top: 0;
            }
        }
        #resource-modal {
            a {
                font-size: 1.6rem;
                font-weight: 700;
                color: $gray-darker;
            }
        }
        .fieldset-legend {
            margin-left: -5px;
        }
        .fieldset-title {
            color: $gray;
            font-size: 1.3rem;
            margin-left: 5px;
        }
        fieldset {
            padding: 0 15px;
            border: 0;
        }
        .fieldset-wrapper {
            margin-top: 20px;
            background: $gray-light-alt;
            padding: 15px 20px;

            .hr-doc-label,
            thead,
            td:last-child {
                display: none;
            }
            tbody {
                border: none;
            }
            a {
                font-size: 1.3rem;
            }
            img {
                position: relative;
                top: -2px;
                margin-right: 4px;
            }
        }
        tr.odd {
            background: none;
        }
        .hr-resouce-download-all {
            width: 100%;
            font-family: $sans;
            word-spacing: 0;
            font-weight: 400;
            font-size: 1.3rem;
            text-align: right;

            @include fa('\f019', 13);

            &:before {
                margin-right: 4px;
            }
        }
    }
    .item-list {
        background: $light;
        font-size: 1.3rem;
        font-weight: 400;
        padding: 0 20px 20px;

        &,
        a {
            color: $gray;
        }
        .page-current {
            color: $gray-darker;
            font-weight: 700;
        }
        ul {
            margin: 0;
        }
        li {
            display: inline-block;
            margin-right: 5px;
        }
    }
    .modal-body & {
        margin: 0;

        .view-content {
            padding: 0;
        }
        .hr-resouce-download-all {
            @extend .btn;

            font-family: $sans;
            word-spacing: 0;
            font-weight: 400;
            font-size: 1.3rem;
            text-align: right;

            @include fa('\f019', 13);

            &:before {
                margin-right: 4px;
            }
        }
        .hr-documents-body-block + .views-field-nothing {
            text-align: right;
            border-top: 1px solid $gray-light;
            margin-top: 20px;
            padding-top: 10px;
        }
    }
}

.view-hr-vacancies {
    @extend .view-hr-documents;

    .view-filters {
        .views-widget {
            width: 40%;
        }
    }
    .views-exposed-widget {
        @include clearfix;
    }
    .views-submit-button {
        border-top: 1px solid $gray-light;
        margin-top: 20px;

        .form-submit {
            margin-top: 10px;
        }
    }
}