/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25-Feb-2015, 11:36:56
    Author     : gergelymeszaros
*/

$wrapper-width:     18%;
$max-tablet-size:   767px;
$images-icons-path: "../images/icon/";
$icon-asc-path:     "asc.gif";
$icon-desc-path:    "desc.gif";

body {
    // The Drupal toolbar module tries to push down the <body> as much as its height
    padding-top: 0 !important;
    position: relative;
}

/**
 * Vacancy list view page default styling
 */
.vacancy-wrapper {
    width: $wrapper-width;
    margin: 1%;
    float: left;
}

/**
 * Views exposed form styling
 */
@mixin exposed-form-default-style($width) {
    float: none;
    display: block;
    width: $width;
}

.views-exposed-form .views-exposed-widget {
    @include exposed-form-default-style(50%);

    @media screen and (max-width: $max-tablet-size) {
        @include exposed-form-default-style(100%);
    }
}

/**
 * Manager AJAX filters block / inline settings
 */
.btn-custom-block {
    @media screen and (min-width: $screen-tablet) {
        display: block;
    }

}


// --------------------------------
// Mockup design styles
// Author: Cezar Derevlean
// --------------------------------

/* Overwrite inherited styles */

.views-exposed-form .views-exposed-widget {
    padding: 0;
}
.item-list ul li {
    margin: 0;
}

/* Helpers */

.relative {
    position: relative;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.nofloat {
    float: none;
}

/* General styles */

body {
    font-family: $sans;
    color: $gray;
    background: $gray-light;
}

/* Lists */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Links */

a {
    text-decoration: none;
    color: $brand-primary;

    &:hover {
        text-decoration: none;
        color: rgba($brand-primary, 0.8);
    }
    &:active,
    &:focus {
        text-decoration: none;
    }
}

/* Headings */

h1 {
    font-size: 3.6rem;
    font-weight: 300;
    color: $gray-darker-alt;
    margin: 25px 0;
}
h4 {
    font-size: 1.8rem;
    color: $gray-darker;
    font-weight: 400;
}
h5 {
    font-size: 1.6rem;
    color: $gray-darker;
    font-weight: 400;
}

/* Tables */

.table-responsive {
    margin: 0 -20px;
}
table {
    font-size: 1.3rem;
    width: 100%;
    table-layout: fixed;
}
th,
td {
    border-bottom: 1px solid $gray-light;
    padding: 8px 20px;
    line-height: 1.3;
}
th {
    color: $gray-darker;
}
tr {
    &.odd {
        background: $gray-lighter;
    }
    &.even {
        background: none;
    }
}

.container.collapse {
    padding: 0;
}

/* Selects */

.hasCustomSelect {
    z-index: 10;
}
.customSelect {
    @extend .form-text;
    margin: 0;
    position: relative;

    @include fa('\f0d7');

    &:before {
        position: absolute;
        top: 11px;
        right: 14px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 37px;
        height: 100%;
        width: 0;
        border-left: 1px solid $color-neutral;
    }

}

/* Alerts/Messages */

#messages {
    padding: 15px 0 0;
}
.alert {
    padding: 20px;
    margin-bottom: 20px;
    color: $light;
    position: relative;

    button {
        color: $gray-dark !important;
        margin-right: 10px;

    }
    .close {
        color: $light !important;
        border: 0;
        background: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        line-height: 1;
        font-size: 2.2rem;
        padding: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.alert-danger {
    background: $brand-danger;
}
.alert-success {
    background: $brand-success;
}
.alert-warning {
    background: $brand-warning;
}

/* Modals */

#modalBackdrop {
    // display: none !important;
}
.modal-dialog {
    .close {
        color: $gray;
        border: 0;
        background: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: bold;
        line-height: 1;
        font-size: 2.2rem;
        padding: 0;
    }
}
.modal-content {
    background: $light;
    min-height: 500px;
    border: 1px solid $color-neutral;
}
.modal-header,
.modal-body {
    padding: 20px;
}
.modal-header {
    border-bottom: 1px solid $gray-light;

    h4 {
        margin: 0;
    }
}
.modal-body {
    height: auto !important;
}

/* Modal: My details, Emergency contact */

.modal-body article {
    max-width: 640px;
    margin: 0 auto;

    h2 {
        display: none;
    }
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;

        &:first-of-type {
            .fieldset-legend {
                margin-top: 0;
            }
        }

        &.collapsed {
          height: auto;
        }

        &.panel {
          @include box-shadow(none);
        }

        .panel-body {
          padding: 0;
        }

        .panel-heading {
          background-color: transparent;
          border: 0 none;
          padding: {
            left: 5px;
            right: 5px;
          }
        }

    }
    .fieldset-legend {
        font-size: 1.6rem;

        a {
            color: $gray-darker;
            margin-left: 10px;
        }
    }
    .grippie {
        display: none;
    }
    .form-item {
        label:not(.element-invisible) {
            display: block;
            float: left;
            width: 35%;
            padding: 7px 0;
            font-size: 1.3rem;
            color: $gray-darker;

            & + .hasCustomSelect {
                left: 35%;
            }
        }
    }
    .form-control,
    .form-managed-file,
    .form-managed-file + .description {
        display: block;
        float: left;
        width: 65%;
    }

    .form-managed-file + .description {
      margin-left: 35%;
    }

    .webform-container-inline {
        width: 65%;
        float: left;

        .form-item {
            width: 100%;
            max-width: 100px;
            margin-right: 20px;
            float: left;
        }
        .form-control {
            width: 100%;
            float: none;
        }
        .webform-calendar {
            margin: 10px 0;
        }
    }
    .form-actions {
        border-top: 1px solid $gray-light;
        padding-top: 20px;
        margin-bottom: 0;

        .btn {
            padding: 0.8rem 6rem;
        }
    }
}

/* Modal: Pick days */

#civihr-employee-portal-manager-approval-pick-days-form {
    .form-item {
        label {
            display: block;
        }
    }
    .form-submit {
        margin-left: 10px;
    }
    br {
        display: none;
    }
    .table-responsive {
        margin-bottom: 20px;
        margin-right: -43px;
    }
}


/* Splitters */

.vertical-splitter {
    position: absolute;
    height: 100%;
    width: 0;
    border-left: 1px solid $gray-light;
}
.splitter-top {
    border-top: 1px solid $gray-light;
    margin-top: 20px;
    padding-top: 20px;
}

/* Buttons */
.btn {
  @include button-size(0.7rem, 1.1rem, 1.3rem, $line-height-base, $border-radius-base);
}

.btn-custom {
  @include button-variant($light, $btn-primary-bg, transparent);
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.context-menu-toggle {
  box-shadow: none !important;
  color: $gray;
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 14px;

  &:hover {
    color: $brand-primary;
  }
}

/* Dropdowns */
.dropdown-menu {
  padding: 0;

  > li > a {
    padding: 8px 14px;
    line-height: 18px;
  }

  [class^="fa-"],
  [class^="glyphicon-"],
  [class*=" fa-"],
  [class*=" glyphicon-"] {
    text-align: center;
    width: 1.25em;
  }
}

/* Forms */

form {
    hr {
        margin-top: 40px;
    }
    .btn {
        float: right;
    }
}
.form-item,
.form-actions {
  @include clearfix;
    position: relative;
    margin: 0 0 20px 0;

    label {
        /*display: none;*/
    }

    .form-item {
      margin-bottom: 0;
    }

  input.error {
    border: 1px solid $brand-danger;
  }
}

.form-text {
    border: 1px solid $color-neutral;
    font-size: 1.3rem;
    color: $gray;
    line-height: 1.5;
    padding: 7px 10px;
    margin: 0;
    width: 100%;

  &:focus {
    outline: 0 none;
    border-color: $brand-primary;
  }
}

.breadcrumb {
    display: none;
}


/* Main / Dashboard */

.main {
    background: $gray-light;
}

/* Panels / Dashboard Carousel */

.pane-block,
.view {
    background: $panel-bg;
    padding: 20px;
    margin: 0 0 30px 0;
    @include clearfix;
}

.pane-block {
  @include box-shadow($box-shadow-global);
}

.pane-block[class*="absence-list"] {
    margin: 0;
}
.view {
    margin: 0 15px;
}
.pane-block {
    .view {
        padding: 0;
        margin: 0;
    }
    .jcarousel-container {
        margin: 0 -10px;
        padding: 0 26px;
    }
    .jcarousel-clip {
        overflow: hidden;
    }
    .jcarousel-item {
        width: 193px;
        margin: 0 10px;
        padding: 20px;
        background: $gray-light-alt;
    }
    .jcarousel-prev,
    .jcarousel-next {
        position: absolute;
        height: 100%;
        width: 26px;
        display: block;
        left: 10px;
        top: 0;
        text-align: center;
        color: $gray;
        background: $light;

        @include fa("\f104", 24);

        &:before {
            @include vertical-align;
            display: block;
        }
    }
    .jcarousel-next {
        left: auto;
        right: 10px;

        @include fa("\f105", 24);
    }
}
.views-exposed-form .views-exposed-widget {
    width: auto;
}

.pane-title {
    margin: 0 -20px 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid $gray-light;
    line-height: 1;

    &:first-child {
        margin-top: 0;
    }
}

/* My details */

.profile-image {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;

    > img {
        height: 100%;
    }
}
.custom-scale-image {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 140px;
}

.footer-slider-block,
.pane-views-hr-documents-block {
    position: relative;

    .views-field {
        margin-top: 1.4rem;

        &:first-child {
            margin-top: 0;
        }
    }
    .view-header {
        position: absolute;
        top: 7px;
        right: 20px;
        font-size: 1.3rem;

        a {
            color: $gray;
        }
    }
    .view-hr-vacancies,
    .view-hr-documents {
        .jcarousel-item {
            position: relative;
            padding-bottom: 55px;
        }
        .btn {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
    }
    .view-hr-documents {
        .views-field {
            font-size: 1.3rem;

            &:first-child {
                font-size: 1.6rem;
                color: $gray-darker;
            }
        }
    }
}

/* Absencies */

.block-civihr-employee-portal {
    text-align: right;

    .btn {
        margin-left: 10px;
    }
}

.pane-civihr-employee-portal-leave {
    tr {
        &.odd {
            background: none;
        }
        &.even {
            background: $gray-lighter;
        }
    }
}
.view-absence-list {
    & > .view-header,
    & > .view-footer {
        tbody {
            border-top: 0;

            tr {
                font-weight: 700;
                color: $gray-darker;
            }
        }
    }
    & > .view-header {
        margin: 0 -20px;
    }
    & > .view-content {
        tbody {
            border: 0;
        }
    }
    td,
    th {
        &:first-child {
            width: 28%;
        }
    }
    .entitlement-date-row {
        border-bottom: 1px solid $gray-light;

        td {
            border-bottom: 0;
        }
    }
}

// My sickness report
.view-display-id-page_1 {
    td,
    th {
        &:first-child {
            width: 14%;
        }
    }

    @media(min-width: $screen-xs-min) {
        td,
        th {
            &:first-child {
                width: 28%;
            }
        }
    }
}

.calendar-btn {
    background: none;
    color: $gray;
    padding-right: 0;

    @include fa("\f073");

    &:before {
        margin-right: 8px;
    }
    &:hover {
        background: none;
        color: $gray;
    }
}

.pane-civihr-employee-portal-leave,
.pane-civihr-employee-portal-sick {
    padding-top: 0;
}

.view-empty {
    p {
        margin: 0;
        padding: 15px 0;
    }
}

.pane-views-exp-absence-list-page {

    .views-exposed-widget {

        .chr_action--icon--responsive {

            @media(min-width: $screen-md-min) {
                span {
                    display: none;
                }
            }

            @media(min-width: $screen-lg-min) {
                span {
                    display: inline;
                }
            }
        }
    }
}


/* Manager absence approval */
.pane-views-approvals-block-1 {
    position: relative;
}

.view-approvals {

    .absence-approval-actions {

        [class*="chr_action"] {
            margin-left: 10px;
        }

        .chr_action--icon--calendar {

            &:before {
                position: relative;
                top: -1px;
            }
        }

        .form-control {
            @extend .form-text;
            padding: 7px 8px;
        }

        .view-content {
            padding: 20px 20px 0;
            display: block;

            .btn {
                position: absolute;
                top: 4px;
                right: 2px;
                padding: 6px;
                font-size: 1.1rem;
                line-height: 1;
                background: none;
                color: $color-neutral;
                cursor: default;
            }

            .input-group {
                position: relative;
            }
        }

        .view-header {
            position: absolute;
            right: 20px;
            top: 19px;

            p {
                margin: 0;
            }
        }
    }

    .view-empty {
        padding: 0 20px;
    }

    @media(min-width: $screen-xs-min) {
        .absence-approval-actions {
            position: absolute;
            right: 20px;
            top: 17px;

            .form-control {
                padding: 2px 8px;
            }

            .view-content {
                display: inline-block;
                margin-left: 10px;
                padding: 0;

                .btn {
                    top: 0;
                }
            }

            .view-header {
                display: inline-block;
                position: static;
            }
        }
    }
}
// ## END TEMPORARY ##

#civihr-employee-portal-document-form {
  .drop-zone {
    margin: 10px 0;
    padding: 30px;
  }
  .help-block {
    clear: left;
    font-size: 12px;
    float: left;
  }

  .form-type-date-popup {
    width: 100%;

    .date-padding {
      padding: 0;
    }

    .form-type-textfield {
      label {
        display: none;
      }
    }
  }

  .table-upload {
    table-layout: fixed;

    .col-index {
      width: 60px;
    }

    .col-name {
      width: 45%;
    }

    .col-size {
      width: 95px;
    }

    .col-action {
      width: 130px;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* Footer */

.footer {
    background: $gray-light;
    color: $gray;
    padding: 50px 0;

    .footer-logo {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    .copyright {
        font-size: 1.3rem;
        font-weight: 300;
    }
}
.page-dashboard {
    .footer {
        margin-top: -30px;
    }
}

/* Page: My details */

.page-hr-details {
    .civihr-employee-portal-my-details-block {
        background: $light;
        padding: 20px;
        margin: 0 15px;

        .view {
            margin: 0;
            padding: 0;
        }
    }
    #modalContent {
        overflow: visible !important;
    }
}

/* Page: HR Resources/Documents */

.content {
    & > .view-hr-documents {
        background: none;
        padding: 0;

        .view-filters,
        .view-content {
            @include clearfix;
            background: $light;
            padding: 20px;
            margin-bottom: 20px;
        }
        .view-content {
            margin-bottom: 0;
        }
        .view-filters {
            label {
                width: 120px;
                float: left;
                font-size: 1.3rem;
                padding: 20px 0;
            }
            select {
                // margin: 10px 0;
                width: 100%;
            }
            .views-exposed-widgets {
                position: relative;
            }
            .views-widget {
                float: left;
            }
            .views-widget-filter-combine,
            .views-submit-button {
                @include clearfix;
            }
            .views-widget-filter-combine {
                .views-widget {
                    width: 40%;
                }
            }
            .views-widget-filter-field_resource_type_tid {
                .views-widget {
                    width: 20%;
                    padding-right: 10px;
                }

            }
            .views-widget-per-page {
                width: 20%;
                float: left;
                padding-left: 10px;

                &:after {
                    content: "";
                    width: 100%;
                    border-bottom: 1px solid $gray-light;
                    bottom: 50px;
                    position: absolute;
                    left: 0;
                }
            }
            .form-submit {
                margin-top: 30px;
            }
        }
        .row-hr-resource {
            @extend .row;
            margin: 0 -20px;
            padding: 20px 5px;

            &.views-row-odd {
                background: $gray-lighter;
                border-top: 1px solid $gray-light;
                border-bottom: 1px solid $gray-light;
            }
            blockquote {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 300;
                text-transform: capitalize;
            }
            .views-field-body {
                .col-md-2 {
                    display: none;
                }
                .col-md-10 {
                    @extend .col-md-offset-2;
                }
                p {
                    margin-top: 0;
                }
            }
            #resource-modal {
                a {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $gray-darker;
                }
            }
            .fieldset-legend {
                margin-left: -5px;
            }
            .fieldset-title {
                color: $gray;
                font-size: 1.3rem;
                margin-left: 5px;
            }
            fieldset {
                padding: 0 15px;
                border: 0;
            }
            .fieldset-wrapper {
                margin-top: 20px;
                background: $gray-light-alt;
                padding: 15px 20px;

                .hr-doc-label,
                thead,
                td:last-child {
                    display: none;
                }
                tbody {
                    border: none;
                }
                a {
                    font-size: 1.3rem;
                }
                img {
                    position: relative;
                    top: -2px;
                    margin-right: 4px;
                }
            }
            tr.odd {
                background: none;
            }
            th,
            td,
            tr {
                border: 0;
            }
            .hr-resouce-download-all {
                width: 100%;
                font-family: $sans;
                word-spacing: 0;
                font-weight: 400;
                font-size: 1.3rem;
                text-align: right;

                @include fa('\f019', 13);

                &:before {
                    margin-right: 4px;
                }
            }
        }
        .item-list {
            background: $light;
            font-size: 1.3rem;
            font-weight: 400;
            padding: 0 20px 20px;
            text-transform: capitalize;

            &,
            a {
                color: $gray;
            }
            .page-current {
                color: $gray-darker;
                font-weight: 700;
            }
            .pager-current {
                text-transform: none;
            }
            ul {
                margin: 0;
            }
            li {
                display: inline-block;
                margin-right: 5px;
            }
        }

    }
}
.modal-body .view-hr-documents {
    margin: 0;
    padding: 0;

    .view-content {
        padding: 0;
    }
    .hr-resouce-download-all {
        @extend .btn;

        font-family: $sans;
        word-spacing: 0;
        font-weight: 400;
        font-size: 1.3rem;
        text-align: right;

        @include fa('\f019', 13);

        &:before {
            margin-right: 4px;
        }
    }
    .hr-documents-body-block + .views-field-nothing {
        border-top: 1px solid $gray-light;
        margin-top: 20px;
        padding-top: 10px;
    }
    .resource-uploaded-date {
        padding-top: 6px;
        color: $light-pale;
    }
    .views-label-body {
        color: $gray-darker;
        margin-bottom: 20px;
        display: inline-block;
    }
    p:first-child {
        margin-top: 0;
    }
}

/* Page: HR Vacancies */

.content {
    & > .view-hr-vacancies {
        @extend .view-hr-documents;

        .view-filters {
            .views-widget {
                width: 40%;
            }
        }
        .views-exposed-widget {
            @include clearfix;
        }
        .views-submit-button {
            border-top: 1px solid $gray-light;
            margin-top: 20px;

            .form-submit {
                margin-top: 10px;
            }
        }
        .view-content {
            font-size: 1.3rem;
        }
        .views-row {
            @include clearfix;

            margin: 0 -20px;
            padding: 20px;

            & > .views-field:first-of-type {
                .field-content {
                    color: $brand-primary;
                }
            }
        }
        .views-row-odd {
            background: $gray-lighter;
            border-top: 1px solid $gray-light;
            border-bottom: 1px solid $gray-light;
        }
        .field-content {
            margin-top: 10px;

            .btn {
                background: none;
                padding: 0;
                color: $brand-primary;
            }
        }
        .vacancy-wrapper {
            margin: 0;

            &:last-of-type {
                text-align: right;
                float: right;

                .field-content {
                    margin-top: 0;
                }
            }
        }

        .fieldset-legend {
            margin-left: -6px;
        }
        .fieldset-title {
            color: $gray;
            font-size: 1.3rem;
            margin-left: 5px;
        }
        fieldset {
            padding: 0;
            border: 0;
            margin-top: 20px;
        }
        .fieldset-wrapper {
            margin-top: 20px;
            background: $gray-light-alt;
            padding: 15px 20px;

            .views-field {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .views-label {
                width: 16.6%;
                display: inline-block;
            }
        }
    }
}

/* Page: HR Staff Directory */

.view-hr-staff-directory {
    background: none;
    padding: 0;

    table {
        font-size: 1.3rem;
        table-layout: fixed;
        width: auto;
    }

    .view-filters,
    .view-content,
    .item-list {
        background: $light;
        padding: 20px;
        overflow-x: auto;
    }
    .view-filters {
        margin-bottom: 20px;

        .views-exposed-form {
            position: relative;

            &:after {
                content: "";
                border-bottom: 1px solid $gray-light;
                width: 100%;
                position: absolute;
                bottom: 55px;
            }
        }
        .views-exposed-widgets {
            margin: 0 -10px;
        }
        .views-exposed-widget:not(.views-submit-button) {
            float: left;
            width: 50%;
            padding: 0 10px;
            margin-bottom: 10px;
        }
        .views-submit-button {
            padding: 0 10px;
            @include clearfix;
        }
        .form-submit {
            margin-top: 30px;
        }
    }
    .view-content {
        .table-responsive {
            margin-top: -20px;
        }
        th,
        td {
            padding: 15px 20px;
        }
    }
    .item-list {
        padding-top: 0;
        font-size: 1.3rem;
        text-transform: capitalize;

        .pager-current {
            color: $gray-dark;
            font-weight: 700;
        }
        &,
        a {
            color: $gray;
            font-weight: 400;
        }
        .pagination {
            margin-bottom: 0;
            text-align: left;
        }
        .first {
            padding-left: 0;
        }
    }
}

/* Print leave report */
.page-print-leave-report {
    .view-absence-entitlement {
        margin: 0;
        padding: 0;
    }
    .table-responsive {
    }
    .entitlement-date-row + tr {
        border-top: 1px solid $gray-light;
    }
}

/* hide slider nav arrows when inactive */
.jcarousel-container [disabled] {
    display: none;
}
