// Clearfix
@mixin cf-content {
    content: "";
    display: table;
    clear: both;
}
@mixin clearfix($where: both) {
    @if $where == 'before' {
        &:before {
            @include cf-content;
        }
    } @elseif $where == 'after' {
        &:after {
            @include cf-content;
        }
    } @else {
        &:before,
        &:after {
            @include cf-content;
        }
    }
}

@mixin fa($unicode, $font-size: inherit) {
    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        content: $unicode;

        @if $font-size == 'inherit' {
            font-size: inherit;
        } @else {
            font-size: $font-size +px;
        }
    }
}

@mixin vertical-align($pos: relative) {
    position: $pos;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}