.page-admin {

  .tabs,
  .action-links,
  .nav.nav-pills.secondary {
    margin: 20px 0;
  }

  .customSelect {
    margin: 0 0 20px 0;
  }
  .panel-title {
    font-size: 14px;
  }

  .table-responsive {
    margin: 0;
  }

  fieldset.panel-default {
    padding: 0;
  }
}
