.btn {
  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-inline {
  border: transparent;
  padding: 0 10px;

  + .dropdown-menu a {
    color: $brand-primary;
  }
}

.btn-lg {
  font-size: $font-size-base;
}
