.btn {
  @include button-size(10px, 25px, $font-size-base, $font-size-base, $border-radius-base);

  &:active,
  &.active {
    box-shadow: none;
  }
}

.btn-inline {
  border: transparent;
  padding: 0 10px;

  + .dropdown-menu a {
    color: $brand-primary;
  }
}

.btn-custom {
  @include button-variant($light, $btn-primary-bg, transparent);
}

.btn-secondary {
  @include button-variant($light, $brand-secondary, $btn-secondary-border);
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $border-radius-large);
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
}

.btn-gradient {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $border-radius-large);

  background: $chr-gradient-1;
  border: 0;
  color: $light;

  &:hover {
    background: $chr-gradient-2;
    color: $light;
  }
}
