/**
 * Manager calendar
 */
 .chr_calendar--manager {
  border-top: 1px solid $gray-light;

  th,
  td {
    border-right: 1px solid $gray-light;

    &:not(:first-child) {
      padding: 0;
      text-align: center;
    }
  }

  thead {
    background: $gray-lighter;
  }
}

.chr_calendar--manager__date {
  font-size: 0.9em;
}

.chr_calendar--manager__employee_name,
.chr_calendar--manager__header__employee-name {
  padding: 12px 20px;
}

.chr_calendar--manager__employee_name {
  background: $gray-lighter;

  > div {
    @include ellipsis();
  }
}

.chr_calendar--manager__header__day-of-month {
  height: 40px;
  width: 35px;

  @media(min-width: $screen-lg-min) {
    height: auto;
    width: auto;
  }
}

.chr_calendar--manager__header__employee-name {
  width: 200px;
}
