/*
util classes
*/
.chr-separator {
    background-color: rgb(237, 237, 237);
    height: 2px;
}

.chr-table__borderless tbody tr td,
.chr-table__borderless tbody tr th,
.chr-table__borderless thead tr th,
.chr-table__borderless thead tr td,
.chr-table__borderless tfoot tr th,
.chr-table__borderless tfoot tr td {
    border: none;
}

.chr-container {
    margin-top: 60px;
    /*background-color: rgb(247, 247, 249);*/
}
/*
.chr-container__title {

}
*/
.chr-container__row {
  background-color: #f7f7f9;
  padding: 24px;
}
.chr-container__row--summary {
  height: 70px;
  padding-top: 6px;
  padding-bottom: 20px;
}
.chr-container__row__cell {
  margin: 24px;
}

.chr-container__row__cell--separate {
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03),0px 8px 17px 0px rgba(0, 0, 0, 0.03);
  height: 70px;
  text-align: center;
}

.chr-container__row__cell--separate__title {
  margin-left: 100px;
  text-align: center;
}

.chr-grid {
  border: none;/*no border for grid*/
  box-shadow: none;
}
/*
.chr-grid--open {

}
.chr-grid--closed{

}
*/

.chr-grid__header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03),0px 8px 17px 0px rgba(0, 0, 0, 0.03);
}
.panel > .chr-grid__panel-heading {
    background-image: none;
    background-color: white;
    color: white;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03),0px 8px 17px 0px rgba(0, 0, 0, 0.03);

}

.chr-grid__body{
    margin: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.03),0px 8px 17px 0px rgba(0, 0, 0, 0.03);
    padding-bottom: 0px;
    padding-top: 1px;
    border-top-width: 0px;
}

.chr-grid__row {

}
.chr-grid__row--header{

}
.chr-grid__row__cell{

}
.chr-grid__row__cell--light{
  font-weight: lighter;
  text-align: left;
}
.chr-grid__row__cell--dark{

}
.chr-grid-summary{

}

