/**
* container for report
**/

.chr-separator {
  background-color: $light-gray;
  height: 2px;
}

.chr-container {
  background-color: $gray-light;
  margin-top: 60px;
}

.chr-container__row {
  background-color: $gray-lighter;
  font-size: $crm-font-size-medium;
  padding: 20px 0;
}

.chr-container__row--summary {
  @extend .chr-container__row;
  margin-bottom: 15px;
  padding: 0;
}

.chr-container__row__cell {
  font-family: "FontAwesome";
}

.chr-container__row__cell--separate {
  box-shadow: $crm-box-shadow-global;
  height: 70px;
  text-align: center;
}

.chr-container__row__cell--separate__title {
  margin-left: 100px;
  text-align: center;
}

/**
* table header font
**/
.chr-container {
  th {
    color: $gray-darker;
    font-weight: $crm-font-weight-medium;
    line-height: 2.5;
    text-align: left;
  }
}

.chr-container__split-button {
  color: $brand-primary;
  font-size: $crm-font-size-small;
  font-weight: $crm-font-weight-lighter;
  text-align: left;
  width: 100%;
}

.chr-margin-left-10 {
  margin-left: 10px;
}

.chr-margin-left-15 {
  margin-left: 15px;
}

.chr-padding-left-medium {
  padding-left: 1px;
}
.chr-padding-left-large {
  padding-left: 48px;
}
.chr-width-full {
  width: 100%;
}
