.chr-separator {
  background-color: $light-gray;
  height: 2px;
}

.chr-container {
  background-color: $gray-light;
  margin-top: 60px;
}

.chr-container__row {
  background-color: $gray-lighter;
  padding: 24px;
}

.chr-container__row--summary {
  height: 70px;
  margin-bottom: 30px;
  padding-top: 6px;
  padding-bottom: 20px;
}

.chr-container__row__cell {
  margin: 24px;
}

.chr-container__row__cell--separate {
  box-shadow: $crm-box-shadow-global;
  height: 70px;
  text-align: center;
}

.chr-container__row__cell--separate__title {
  margin-left: 100px;
  text-align: center;
}

/**
* table header font
**/
.chr-container {
  th {
    color: $gray-darker;
    font-weight: $crm-font-weight-medium;
  }
}

.chr-container__split-button {
  color: $brand-primary;
  font-size: $crm-font-size-small;
  font-weight: $crm-font-weight-lighter;
  text-align: left;
}

.chr-margin-left-10 {
  margin-left: 10px;
}
