// civicrm datepicker styles form shoreditch
@import "SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/mixins/_fa-icon.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/_mixins.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/common/_datepickers.scss";
@import "SCSSROOT/org.civicrm.shoreditch/scss/civicrm/common/_bootstrap-calendar.scss";

// Override styles for civicrm datepicker specific to SSP
.ui-datepicker {
  .ui-datepicker-calendar thead tr th {
    font-size:13px !important;
  }

  tbody {
    border-top: 0;
  }

  .ui-datepicker-month,
  .ui-datepicker-year {
    font-size: 15px !important;
    font-weight: 400;
    margin: 0 5px !important;
  }
}
