.drop-zone-overlay {
  align-items: center;
  background: $light-gray;
  color: $crm-wizard-font-color;
  display: flex;
  height: 180px;
  justify-content: center;
  min-width: 120px;
  outline: 1px dashed $gray-light;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  width: 100%;

  i {
    color: $crm-wizard-secondary-color;
    font-size: 25px;
    margin-bottom: 15px;
  }

  &.is-dragover {
    background-color: $light;
    outline-color: $gray-lighter;
    outline-offset: -10px;
  }
}

.mobile {
  .drop-zone-overlay {
    background: $brand-primary !important;
    color: $light;
    height: 40px !important;
    outline: none;
  }
}
