/*
A grid table with embedded tables
*/

/**
* variables for desktop resolution
*/

.chr-grid {
  background-color: $gray-light;
  border: none;
  box-shadow: none;
}

.chr-grid__header {
    background-color: $light;
    box-shadow: $crm-box-shadow-global;
}

.panel {
  > .chr-grid__panel-heading {
    background-color: $light;
    background-image: none;
    color: $light;
    box-shadow: $crm-box-shadow-global;
  }
}

.chr-grid__body {
  background-color: $light;
  border-top-width: 0;
  box-shadow: $crm-box-shadow-global;
  margin: 16px 16px 0 16px;
  padding-bottom: 0;
  padding-top: 1px;
}

.chr-grid__row {
  font-weight: $crm-font-weight-medium;
  text-align: left;
}

.chr-grid__row__cell--light {
  font-weight: $crm-font-weight-lighter;
  text-align: left;
}

