.chr_header {
  @include clearfix;

  background: $gray-dark;
  box-shadow: 0 2px 3px 0 rgba(black, 0.15);
  color: $light-pale;
  font-size: 1.3rem;
  height: $crm-header-height;
  line-height: $crm-header-height;

  > .chr_header__brand {
    left: 0;
    position: absolute;
    margin: 0 auto;
    right: 0;
    width: 25%;
  }

  > .chr_header__corner {
    float: left;
  }

  > .chr_header__nav {
    height: 100%;
    left: -100%;
    position: absolute;
    top: $crm-header-height;
    width: 100%;

    transition: left 0.2s ease-out;

    &.is-open {
      left: 0;
    }
  }

  > .chr_header__user-menu {
    float: right;
  }

  @media(min-width: $screen-sm-min) {
    > .chr_header__brand {
      display: none;
    }

    > .chr_header__nav {
      float: left;
      height: auto;
      position: static;
      width: auto;
    }
  }

  @media(min-width: $screen-md-min) {
    padding-right: 30px;
  }
}

.chr_header__brand {
  color: $light;
}

.chr_header__corner {
  background: $brand-primary;
  color: $light;
  display: table;
  height: 100%;
  text-align: center;
  width: 90px;

  &:hover {
    color: rgba($light, 0.8);
  }

  > .chr_header__corner__brand {
    display: none;
  }

  @media(min-width: $screen-sm-min) {
    > .chr_header__corner__brand {
      display: block;
    }

    > .chr_header__nav__toggle {
      display: none;
    }
  }
}

.chr_header__nav {
  background: #ffffff;
  font-size: 1.385em;
  padding: 5px 25px;
  z-index: 99;

  @media(min-width: $screen-sm-min) {
    background: inherit;
    font-size: inherit;
    padding: 0;
  }
}

.chr_header__nav__menu {

  a {
    color: $gray-darker;
    display: block;

    &.active,
    &:hover,
    &:focus {
      color: $brand-primary;
      outline: none;
    }
  }

  > li {
    border-bottom: 1px solid $gray-light;
    padding-left: 20px;

    &:last-child {
      border: none;
    }
  }

  @media(min-width: $screen-sm-min) {
    a {
      color: inherit;
      padding: 0 15px;

      &.active,
      &:hover,
      &:focus {
        background: $gray;
        color: $light;
      }
    }

    > li {
      border: none;
      padding: 0;
      float: left;
    }
  }
}

.chr_header__nav__toggle {
  cursor: pointer;
  display: table-cell;
  height: 100%;
  line-height: normal;
  vertical-align: middle;
}


/**
 * User menu in main header <nav>
 */
.chr_header__user-menu {
  color: $light-pale;
  cursor: default;
  padding: 0 10px;
  position: relative;

  &:hover {
    background: $crm-gray-darker-alt;
    color: $light;

    > .chr_header__sub-menu {
      display: block;
    }
  }

  .chr_header__sub-menu {
    right: 0;
  }
}

.chr_header__user-menu__data {

  > .chr_header__user-menu__name {
    float: left;
  }

  > .chr_profile-card {
    margin: -2px 8px 0 8px; // To improve, the vertical margin is just to vertically align the card
    vertical-align: top;
  }

  @media(max-width: $screen-md-min) {
    > .chr_header__user-menu__arrow,
    > .chr_header__user-menu__name {
      display: none;
    }
  }
}

.chr_header__settings-menu {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  float: right;

  &:hover {
    background-color: $crm-gray-darker-alt;

    > .chr_header__sub-menu {
      display: block;
    }
  }

  > .fa-cog {
    font-size: 18px;
  }

  .chr_header__sub-menu {
    right: 0;
  }
}

.chr_header__home-menu {

  &:hover {
    > .chr_header__sub-menu {
      display: block;
    }
  }

  .chr_header__sub-menu {
    left: 0;
  }
}

.chr_header__sub-menu {
  background: $crm-gray-darker-alt;
  display: none;
  position: absolute;
  z-index: 99;

  li {
    text-align: left;
  }

  a {
    color: $light-pale;
    font-size: 1.3rem;
    display: block;
    padding: 0 30px 0 20px;
    white-space: nowrap;

    &:hover {
      background: $crm-brand-secondary;
      color: $light;
    }

    > i {
      margin-right: 10px;
    }
  }
}

//CiviHR menu in small devices
.chr_header__brand .chr_header__home-sub-menu {
  right: 0;
  width: 120px;
  margin: auto;
}


@media (max-width: 767px) {
  .chr_header__nav__menu > li {
    border-bottom: none;
    padding: 0;
  }

  .chr_header__nav__menu > li > a {
    border-bottom: 1px solid $crm-grizzly;
    margin: 0 25px;
    padding: 0 20px;
  }

  .chr_header__nav__menu > li:last-child > a {
    border-bottom: none;
  }

  .chr_header__nav.is-open {
    padding: 0px
  }
}


//Hide Menus when not logged in
.not-logged-in {
  .chr_header__home-menu .chr_header__sub-menu {
    display: none;
  }
}
