.chr_header {
  @include clearfix;

  background: $gray-dark;
  box-shadow: 0 2px 3px 0 rgba(black, 0.15);
  color: $light-pale;
  font-size: 1.3rem;
  height: $crm-header-height;
  line-height: $crm-header-height;

  > .chr_header__brand {
    left: 0;
    position: absolute;
    margin: 0 auto;
    right: 0;
    width: 25%;
  }

  > .chr_header__corner {
    float: left;
  }

  > .chr_header__nav {
    height: auto;
    left: -100%;
    min-height: 100%;
    position: absolute;
    top: $crm-header-height;
    width: 100%;

    transition: left 0.2s ease-out;

    &.is-open {
      left: 0;
    }
  }

  > .chr_user-menu {
    float: right;
  }

  @media(min-width: $screen-md-max) {
    > .chr_header__brand {
      display: none;
    }

    > .chr_header__nav {
      float: left;
      height: auto;
      min-height: auto;
      position: static;
      margin-left: 10px;
      width: auto;
    }
  }

  //Hide Menu link as part of SSP
  .menu-link-home,
  .menu-link-civihr-admin,
  .menu-link-civihr-ssp {
    display: none;
  }

  @media (max-width: 767px) {
    //Show links in Mobile view and different background
    .menu-link-civihr-admin,
    .menu-link-civihr-ssp {
      display: block;
      background-color: $gray-light;
    }

    .menu-link-civihr-ssp > a {
      border-bottom: none !important;
    }
  }
}

.chr_header__brand {
  color: $light;
}

.chr_header__corner {
  background: $brand-primary;
  color: $light;
  display: table;
  height: 100%;
  text-align: center;
  width: 60px;

  &:hover {
    color: rgba($light, 0.8);
  }

  > a {
    height: 50px;
  }

  > a,
  > .chr_header__corner__brand {
    display: none;
  }

  @media(min-width: $screen-md-max) {
    > .chr_header__corner__brand {
      display: block;
    }

    > .chr_header__nav__toggle {
      display: none;
    }
  }
}

.chr_header__nav {
  background: #ffffff;
  font-size: 1.385em;
  padding: 5px 25px;
  z-index: 99;

  @media(min-width: $screen-md-max) {
    background: inherit;
    font-size: inherit;
    padding: 0;
  }
}

.chr_header__nav__menu {

  a {
    color: $gray-darker;
    display: block;

    &.active,
    &:hover,
    &:focus {
      color: $brand-primary;
      outline: none;
    }

    // The fa classes are applied by Drupal to the anchors directly,
    // so the style on the anchor needs to be resetted and the style
    // of the actual icon needs to be "confirmed" again
    // (see: https://www.dannyenglander.com/blog/drupal-theming-adding-font-awesome-icons-menu-items)
    &.fa {
      font-family: inherit;
      line-height: inherit;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;

      &:before {
        @include fa-icon();
        margin-right: 5px;
      }
    }
  }

  > li {
    border-bottom: 1px solid $gray-light;
    padding-left: 20px;
    position: relative;

    &.active {
      &:after {
        content: '';
        border: 2px solid $brand-primary;
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }

    &:last-child {
      border: none;
    }
  }

  @media(min-width: $screen-md-max) {
    a {
      color: $light-pale;
      padding: 0 15px;

      &:hover,
      &:focus {
        background: $gray;
        color: $light !important;
      }

      &.active {
        color: inherit;
      }
    }

    > li {
      border: none;
      padding: 0;
      float: left;
    }
  }
}

.chr_header__nav__toggle {
  cursor: pointer;
  display: table-cell;
  height: 100%;
  line-height: normal;
  vertical-align: middle;
}


.chr_header__settings-menu {
  float: right;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50px;

  &:hover {
    background-color: $gray;

    > .chr_header__sub-menu {
      display: block;
    }
  }

  > .fa-cog {
    font-size: 16px;
  }

  .chr_header__sub-menu {
    right: 0;
  }
}

.chr_header__home-menu {
  color: $light;

  &:hover {
    color: rgba($light, 0.8);

    > .chr_header__sub-menu {
      display: block;
    }
  }

  .chr_header__sub-menu {
    left: 0;
  }
}

.chr_header__sub-menu {
  background: $crm-gray-darker-alt;
  display: none;
  position: absolute;
  z-index: 99;

  li {
    text-align: left;
  }

  a {
    color: $light-pale;
    font-size: 1.3rem;
    display: block;
    padding: 0 30px 0 20px;
    white-space: nowrap;

    &:hover {
      background: $gray;
      color: $light;
    }

    > i {
      margin-right: 10px;
    }
  }
}

.chr_header__sub-menu__separator {
  border-top: 1px solid $gray-darker;
  height: 0;
  margin: 0 30px 0 20px;
}

//CiviHR menu in small devices
.chr_header__brand .chr_header__home-sub-menu {
  right: 0;
  width: 120px;
  margin: auto;
}

//Hide Menu link as part of SSP
.menu-link-home,
.menu-link-civihr-admin,
.menu-link-civihr-ssp {
  display: none;
}

@media (max-width: 767px) {
  //Show links in Mobile view and different background
  .menu-link-civihr-admin,
  .menu-link-civihr-ssp {
    display: block;
    background-color: $gray-light;
  }

  .menu-link-civihr-ssp > a {
    border-bottom: none !important;
  }

  .chr_header__nav__menu > li {
    border-bottom: none;
    padding: 0;
  }

  .chr_header__nav__menu > li > a {
    border-bottom: 1px solid $crm-grizzly;
    margin: 0 25px;
    padding: 0 20px;
  }

  .chr_header__nav__menu > li:last-child > a {
    border-bottom: none;
  }

  .chr_header__nav.is-open {
    padding: 0px
  }
}


//Hide Menus when not logged in
.not-logged-in {
  .menu-link-civihr-admin,
  .menu-link-civihr-ssp,
  .chr_header__corner,
  .chr_header__home-menu .chr_header__sub-menu {
    display: none;
  }
}
