$row-margin-bottom: 15px;

.chr_leave-request-form__group {
  margin-bottom: $row-margin-bottom;
}

.chr_leave-request-form__table {
  margin-bottom: $row-margin-bottom !important;
  border: 1px solid $crm-table-heading-border-color;
}

.chr_leave-request-form__chevron {
  font-size: 0.6em;
  vertical-align: middle;
  margin-right: 5px;
}

.chr_leave-request-form__tab {
  margin-top: 20px;
}
