.chr_leave-report__cell--action {
  width: 3.5%;
}

.chr_leave-report__cell--label {
  width: 24.57%;
}

.chr_leave-report__cell--dates {
  width: 15.8%;
}

.chr_leave-report__cell--status {
  width: 16%;
}

.chr_leave-report__cell--type {
  width: 7.46%;
}

// Label:  280px
// Dates:  180px
// Status: 182px
// Type:   85px
