.chr_manager_calendar__header {
  padding-top: 15px;
  background-color: $crm-grayish-blue;

  > div {
    display: inline-block;
    margin: 0 10px;
    width: calc(16.4% - 20px);
    vertical-align: top;
  }
}

th.chr_manager_calendar__name,
td.chr_manager_calendar__name {
  font-size: 12px !important;
  line-height: 100%;
  padding: 0 0 0 20px !important;
  text-align: left;
  vertical-align: middle !important;
  width: 180px;
}
