.chr_manager_dashboard__header {
  margin: 0;
  background: $crm-grayish-blue;

  .chr_custom-select {
    margin-right: 20px;
    padding: 0;
    width: 250px;
  }

  .panel-title {
    margin-top: 5px;
    display: inline-block;
  }
}

.chr_manager_dashboard__filter {
  margin-top: 6px;
  display: inline-block;

  .fa {
    font-size: 0.6em;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.chr_manager_dashboard__sub-header {
  padding-top: 15px;
  background-color: $crm-grayish-blue;

  > div {
    display: inline-block;
    margin: 0 10px;
    width: calc(16.4% - 20px);
    vertical-align: top;
  }
}

.chr_manager_dashboard__panel_body {
  margin: 0;
  padding: 0;

  [class^="col-"],
  [class*=" col-"] {
    padding: 0;
    height: 341px;
  }
}
