.btn-group {

  > .chr_action {
    border-color: transparent;
    color: $light;
  }
}

.nav-tabs{

  > li {
    width: 50%;
    text-align: center;
    font-size: 20px;

    a {
      margin-right: 0;
    }

    &.active{
      > a, > a:hover, > a:focus {
        color: $brand-primary;
        border: none;
        border-bottom: 3px solid $brand-primary;
      }
    }
  }
}


.nav, .chr_table-w-filters__filters__nav{
  > li >a {
    background-color: $light;
    color: $crm_gray-darker-alt;
    border: none;
  }
}

