.ui-select-container {
  &:not(.ui-select-multiple) {
    .btn:hover {
      background: $light;
    }

    .ui-select-match-text {
      padding-right: 3em;
      color: $gray;

      span {
        text-overflow: ellipsis;
      }
    }

    a.btn {
      margin-right: 14px !important;
    }

    .glyphicon-remove {
      font-size: 10px;
    }

    .caret {
      display: none;
    }

    input {
      border: 1px solid $crm-color-neutral !important;
      box-shadow: none !important;
    }

    &:after {
      content: '\f002';
      bottom: 0;
      font-family: "FontAwesome";
      display: inline-block;
      height: 33px;
      line-height: 35px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 32px;
      z-index: 1;
      -webkit-font-smoothing: antialiased;
    }
  }

  .text-muted {
    color: $crm-color-neutral;
  }
}

.ui-select-multiple {
  padding: 3px !important;

  &:after {
    @include dropdown-arrow();
  }
}

.ui-select-bootstrap .ui-select-choices-row {
  > span {
    color: $gray;
    font-size: $crm-font-size-small;
    padding: 3px 10px;
  }

  &.active > span {
    color: $gray;
    background: $light-gray;
  }
}

/*
* TEMP fixes till ui-select styling is fixed
*/
.civihr-ui-select {

  &.civihr-ui-select.open .select2-chosen {
    //pads text correctly in open state
    border-style: none !important;
    padding-left: 15px !important;
  }

  .civihr-ui-select .select2-chosen {
    //pads selected text correctly in closed state
    padding-left: 15px !important;
  }

  &.ui-select-container {
    &:not(.ui-select-multiple) {
      &:after {
        //prevents search icon to overlap dropdown-arrow in closed state
        content: none;
      }
    }
  }

  &.select2-container .select2-choice {
    padding: 0;

    //shift the clear remove icon to be in line with the selected text
    abbr {
      top: 4px;
    }
  }
}
