.chr_vertical_tabs.nav {
  background-color: $gray-darker;

  > li {
    a {
      background-color: $panel-default-heading-bg;
      color: $gray-dark;
    }

    &.active a {
      background-color: $brand-primary;
      color: $chr-white;
    }
  }
}
