.chr_section {

    > .chr_section__header {
        margin-bottom: 15px;
    }
}

.chr_section__body {
    background: $brand-primary-light;
    padding: 20px;
}

.chr_section__footer {
    background: #ffffff;
    padding: 10px 0;
}

.chr_section__header {
    background: $brand-primary;
    padding: 10px 20px;
}

.chr_section__title {
    color: #ffffff;
    font-size: em(18);
    font-weight: normal;
    margin: 0;
}

/* [modifier] A section with no padding applied on the body */
.chr_section--no-padding {

    > .chr_section__body {
        padding: 0;
    }
}
