table,
.table {
    margin-bottom: 0;

    th,
    .even {
        background: $brand-primary-light;
    }

    .odd {
        background: $brand-primary-lighter;
    }

    > thead {

        > tr {

            > th {
                border-bottom: 0;
                color: $gray-darker;
                text-transform: capitalize;
            }
        }
    }
}
