$chr-table-cell-padding: 10px 20px;

.chr_table {
    background: #ffffff;

    th,
    .even {
        background: $brand-primary-light;
    }

    > tbody {

        > tr {

            > td {
                border-color: $border-color;
                padding: $chr-table-cell-padding;
            }
        }
    }

    > thead {

        > tr {

            > th {
                border-bottom: 0;
                border-color: $border-color;
                color: $gray-darker;
                text-transform: capitalize;
                padding: $chr-table-cell-padding;
            }
        }
    }
}
