/**
 * Manager calendar
 */
.chr_calendar--manager {
    border-top: 1px solid $gray-light;

    th,
    td {
        border-right: 1px solid $gray-light;

        &:not(:first-child) {
            padding: 0;
            text-align: center;
        }
    }

    thead {
        background: $gray-lighter;
    }
}

.chr_calendar--manager__date {
    font-size: 0.9em;
}

.chr_calendar--manager__employee_name,
.chr_calendar--manager__header__employee-name {
    padding: 12px 20px;
}

.chr_calendar--manager__employee_name {
    background: $gray-lighter;

    > div {
        @include ellipsis();
    }
}

.chr_calendar--manager__header__day-of-month {
    height: 40px;
    width: 35px;

    @media(min-width: $screen-lg-min) {
        height: auto;
        width: auto;
    }
}

.chr_calendar--manager__header__employee-name {
    width: 200px;
}

.civihr-employee-portal-manager-calendar-block {
    font-size: 1.2rem;

    h2 {
        display: none;
    }

    h3 {
        color: $gray-darker;
        font-size: 1.5em;
        font-weight: normal;
    }

    .calendar.legend {

        .table-responsive {
            overflow: visible;
        }
    }

    .sticky-header {
        display: none !important;
    }

    .table-responsive {
        margin: 0 -43px 0 -20px;
        overflow: auto;
    }

    @media(min-width: $screen-md-min) {
        overflow: visible;
    }
}



/**
 * My absences calendar
 */
.calendar {
    width: auto;

    &.legend {
        margin-top: 20px;

        .table-responsive {
            margin: 0;
        }
    }
}

.calendar-legend {
    text-align: left;

    tbody {
        border-top: 0;
    }

    thead {
        display: none;
    }

    td,
    tr {
        border: 0;
        display: inline-block;
    }

    td {

        &:last-child {
            margin-right: 15px;
            min-width: 80px;
            padding-left: 5px;
            text-align: left;

            @media(min-width: $screen-md-min) {
                min-width: inherit;
            }
        }
    }

    tr {
        padding: 0;

        &.odd {
            background: none;
        }
    }

    .stripe {
        height: 10px;
        width: 10px;
    }

    @media(min-width: $screen-md-min) {
        text-align: right;

        tr {
            padding: 0 8px;
        }

        td {

            &:last-child {
                margin-right: 0;
                min-width: inherit;
            }
        }
    }
}

/* Modal: Calendar */

.view-calendar-absence-list {
    margin: 0;
    padding: 0;

    .view-footer {

        h2 {
            display: none;
        }
    }

    .view-header {
        background: $gray-lighter;
        margin: -20px -43px 0 -20px;
        padding: 20px;

        h3 {
            color: $gray-darker;
            font-size: 1em;
            font-weight: 400;
        }

        .date-nav,
        .date-nav-wrapper {
            margin: 0;
            padding: 0;
        }

        .date-prev,
        .date-next {
            margin-top: -6px;

            .btn {
                background: none;
                border: none;
                color: $gray-darker;
                font-size: 0;

                &:hover {
                    border: none;
                }
            }
        }

        .date-next {
            right: -28px;

            .btn {
                @include fa("\f105", 16);
            }
        }

        .date-prev {
            left: -28px;

            .btn {
                @include fa("\f104", 16);
            }
        }

        .pager {
            margin: 0;
        }
    }

    @media(min-width: $screen-sm-min) {
        .view-header {

            h3 {
                font-size: 1.5em;
            }
        }
    }
}

.calendar-calendar {
    margin: 0 -43px 0 -20px;

    th,
    td {
        border-right: 1px solid $gray-light;
        padding: 5px;
        text-align: center;

        &.empty {
            background: $gray-lighter;
        }
    }

    thead {
        border-top: 1px solid $gray-light;
    }

    tr:not(.date-box) {
        .no-entry,
        .empty {

            > .inner {
                display: none;
            }
        }
    }

    .date-box,
    .multi-day {
        border-bottom: 0;
    }

    .date-box {

        &.empty {

            .day {
                color: $light-pale;
            }
        }

        .day {
            font-size: 1.2rem;
        }

        .inner {
            min-height: 15px;
        }
    }

    .multi-day,
    .single-day {
        padding: 0;
    }

    .multi-day {

        > td {
            line-height: 0 !important;
        }

        + .single-day {

            > .single-day {
                padding-bottom: 0;
            }
        }
    }

    .today {

        .day {
            display: inline-block;
            background: $brand-tertiary;
            border-radius: 50px;
            color: $light;
            width: 2.2rem;
            height: 2.2rem;
            line-height: 2.2rem;
            text-align: center;

            a {
                color: inherit;
            }
        }
    }

    @media(min-width: $screen-sm-min) {
        th,
        td {
            padding: 15px;
        }

        td {
            text-align: right;
        }

        tr:not(.date-box) {
            .no-entry,
            .empty {

                > .inner {
                    display: block;
                }
            }
        }

        .date-box {

            .day {
                font-size: 1.5rem;
            }
        }

        .single-day {
            padding-bottom: 15px;
        }
    }
}

.view-item-calendar_absence_list {
    position: relative;

    .calendar {
        margin: 0;
    }

    .contents {
        @include vertical-align(absolute);

        color: $light;
        display: none;
        font-size: 1.2rem;
        padding: 0 10px;

        .views-field:not(.views-field-absence-title) {
            display: none;
        }
    }

    .cutoff {
        display: none;
    }

    .stripe {
        height: 5px;
    }

    @media(min-width: $screen-sm-min) {
        .contents {
            display: block;
        }

        .stripe {
            height: 30px;
        }
    }
}
