// Styles for Forms
// --------------------------------------------------

#civihr-employee-portal-request-new-account-form {
  label {
    display: none;
  }
}

/* Modal: Request leave */
.civihr_form--modal {

	.container-inline-date {
		clear: none;
		float: left;
		position: relative;
		width: 48%;

		&:after {
			content: '\f073';
		   	font-family: FontAwesome;
		   	position: absolute;
		   	right: 0;
			top: 7px;
	   	}

	   	&:last-child {
	   		float: right;
	   	}

		.form-item {
			margin: 0;
		}
	}

	.date-padding {
		padding: 0;
		width: 45%;

		label,
		.help-block {
			display: none !important;
		}

		.form-control {
			margin-right: 0;
			width: 100%;
		}
	}

	.form-item {

		label {
			float: left;
			padding: 7px 0;
			width: 90px;
		}

		.help-block {
			clear: both;
			display: block;
			font-size: 0.9em;
		}
	}

	.form-type-file {

		.form-file {
			background: transparent;
			padding: 7px 0;
		}
	}

	.form-type-select {

		.customSelect {
		    display: block !important;
		    overflow: auto;
		    width: auto;
		}
	}

	.form-type-textarea {

		.form-textarea-wrapper {
			overflow: auto;
		}
	}

	.form-submit {
		padding: 0.8rem 6rem;
	}
}