// Styles for Menus and Navs
// --------------------------------------------------

/**
 * User menu in main header <nav>
 */
.chr_header__user-menu {
    color: $light-pale;
    cursor: default;
    padding: 0 10px;
    position: relative;

    &:hover {
        background: $gray-darker-alt;
        color: $light;

        > .chr_header__user-menu__sub-menu {
            display: block;
        }
    }
}

.chr_header__user-menu__data {

    > .chr_header__user-menu__name {
        float: left;
    }

    > .chr_header__user-menu__picture {
        margin: 8px; // To improve, the vertical margin is just to vertically align the image
        vertical-align: top;
    }

    @media(max-width: $screen-md-min) {
        > .chr_header__user-menu__arrow,
        > .chr_header__user-menu__name {
            display: none;
        }
    }
}

.chr_header__user-menu__picture {
    border-radius: 50%;
    display: inline-block;
    height: 34px;
    width: 34px;
}

.chr_header__user-menu__sub-menu {
    background: $gray-darker-alt;
    display: none;
    position: absolute;
    right: 0;

    a {
        color: $light-pale;
        display: block;
        padding: 0 40px 0 20px;
        white-space: nowrap;

        &:hover {
            background: $brand-secondary;
            color: $light;
        }

        > i {
            margin-right: 10px;
        }
    }
}
