/**
 * Standard custom CiviHR modal
 */
.backdrop-civihr-custom {
	height: 100% !important;
	width: 100% !important;
}

.modal-civihr-custom {
	box-sizing: content-box;
	left: 0 !important;
	margin: 0 auto;
	max-width: 480px;
	min-height: 400px;
	padding: 0 20px;
	right: 0;

	.loading-spinner {
		height: 300px;
		left: 0 !important;
		line-height: 280px;
		position: relative !important;
		text-align: center;
		top: 0 !important;
	}

	.modal-body {
		@include clearfix;

		padding: 0 10px 10px 10px;
	}

	.modal-content {
		min-height: inherit;
		position: relative;
	}

	@media(min-width: $screen-sm-min) {
		padding: 0;
	}
}

.modal-civihr-custom__footer {
	padding-top: 10px;
}

.modal-civihr-custom__section {
	@include clearfix;

	border-bottom: 1px solid $gray-light;
	padding: 20px 10px;

	&:last-of-type {
		border-bottom: 0;
		padding-bottom: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

.modal-civihr-custom__section--strip {
	@extend .modal-civihr-custom__section;

	background: $gray-light-alt;
	margin: 0 -10px;
	padding: 20px;
}
