// Styles for Navs
// --------------------------------------------------

.nav-tabs-header {
    &.nav-justified {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.035), 0 4px 8px 0 rgba(0, 0, 0, 0.035);
        margin-bottom: 20px;

        li {
            a {
                font-size: 18px;
                color: $gray-darker;
                border: 0;
                border-bottom: 3px solid transparent;
            }

            &.active {
                a,
                a:hover,
                a:focus {
                    color: $brand-primary;
                    border: 0;
                    border-bottom: 3px solid $brand-primary;
                }
            }
        }
    }
}
