// Styles for Navs
// --------------------------------------------------

.nav-tabs-header {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.035),0px 4px 8px 0px rgba(0,0,0,0.035);
    margin-bottom: 20px;

    li {
        .btn {
            font-size: 18px;
            color: $gray-darker;
            border: 0 !important;
            border-bottom: 3px solid transparent !important;
        }

        &.active {
            .btn,
            .btn:hover,
            .btn:focus {
                color: $brand-primary;
                border-bottom: 3px solid $brand-primary !important;
            }
        }
    }
}
