// Styles for individual pages
// --------------------------------------------------

/* Welcome page */
.page-welcome-page {
    .pane-user-login {
        max-width: 438px;
        margin: 0 auto;
        width: 100%;
    }
}

.page-reports {
    .content {
        padding: 0;
        background-color: transparent;
    }

    .pane-content {
      overflow: visible !important;
    }

    #bootstrap-theme .dropdown-menu[datepicker-popup-wrap] {
      width: 316px;
    }

    .form-group {
      margin-right: 30px;

      label {
        color: $gray-darker;
        font-weight: normal;
        margin-right: 20px;
      }
    }

    .help-block {
      display: inline;

      .btn {
        color: $gray;
        border: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .chr_panel__footer {
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 0 !important;
    }
}
