// Styles for individual pages
// --------------------------------------------------

/* Welcome page */
.page-welcome-page {
    .pane-user-login {
        max-width: 438px;
        margin: 0 auto;
        width: 100%;
    }
}

.page-reports {
    .content {
        padding: 0;
        background-color: transparent;
    }

    .pane-content {
      overflow: visible !important;
    }

    .input-group-btn {
      cursor: pointer;
    }

    #bootstrap-theme .dropdown-menu[datepicker-popup-wrap] {
      width: 316px;
    }
}
