// Styles for panels and panes.
// --------------------------------------------------

.pane-content {

    /*
        Vertical alignment of `.chr_panel_actions` with workaround for forms.

        We need to assume that if contained within a <form>, then there is going to be a
        `.form-item` element pushing down 20px because of its `margin-bottom` that needs to be balanced.
    */
    form {

        .chr_panel__actions {
            margin-top: -20px;
        }
    }

    @media(min-width: $screen-sm-min) {
        form {

            .chr_panel__actions {
                margin-top: 10px;
            }
        }

        .chr_panel__actions {
            border-top: 1px solid $gray-light;
            margin-top: 30px;
        }
    }
}

.panel {
    @include box-shadow($box-shadow-global);
}

.panel-body {
    > .row:last-child .form-actions {
        margin-bottom: 0;
    }

    @include grid-condensed($panel-body-padding+1px);
}

.panel-heading {
    width: 100%;
}

.panel-title {
    color: $gray-darker;
    font-size: $panel-heading-font-size;
    font-weight: 400;
}

.pane-block.pane-user-login {
    margin-bottom: 20px;
    padding-bottom: 0;

    label {
        display: none;
    }

    #messages {
        padding: 0;
        margin-bottom: 20px;

        .alert {
            padding: {
                bottom: 15px;
                top: 15px;
            };
        }
    }

    .btn {
        min-width: 82px;
    }

    .pane-content {
        @include grid-condensed($panel-body-padding);

        > .form-item:first-child {
            padding-top: 0;
        }
    }

    .pane-user-login-forgot-password {
        > .row {
            background-color: #f0f1f4;
        }

        .alert {
            margin-bottom: -20px;
        }
    }
}
