// Styles for panels and panes.
// --------------------------------------------------

.pane-content {

    /*
        Vertical alignment of `.chr_panel_actions` with workaround for forms.

        We need to assume that if contained within a <form>, then there is going to be a
        `.form-item` element pushing down 20px because of its `margin-bottom` that needs to be balanced.
    */
    form {

        .chr_panel__actions {
            margin-top: -20px;
        }
    }

    @media(min-width: $screen-sm-min) {
        form {

            .chr_panel__actions {
                margin-top: 10px;
            }
        }

        .chr_panel__actions {
            border-top: 1px solid $gray-light;
            margin-top: 30px;
        }
    }
}

.panel {
    @include box-shadow($box-shadow-global);
}

.panel-body {
    > .row:last-child .form-actions {
        margin-bottom: 0;
    }

    @include grid-condensed($panel-body-padding+1px);
}

.panel-heading {
    width: 100%;
}

.panel-title {
    color: $gray-darker;
    font-size: $panel-heading-font-size;
    font-weight: 400;
}

.pane-block.pane-user-login {
    margin-bottom: 20px;
    padding-bottom: 0;

    label {
        display: none;
    }

    #messages {
        padding: 0;
        margin-bottom: 20px;

        .alert {
            padding: {
                bottom: 15px;
                top: 15px;
            };
        }
    }

    .btn {
        min-width: 82px;
    }

    .pane-content {
        @include grid-condensed($panel-body-padding);

        > .form-item:first-child {
            padding-top: 0;
        }
    }

    .pane-user-login-forgot-password {
        > .row {
            background-color: #f0f1f4;
        }

        .alert {
            margin-bottom: -20px;
        }
    }
}



/**
 * Custom CiviHR panel
 */
 .chr_panel__header {
    box-shadow: none;
}

.chr_panel__header--w-actions {
    @extend .chr_panel__header;

    padding-bottom: 10px;
    position: relative;

    [class*="chr_action"] {
        float: none;
        margin-left: 15px;
        vertical-align: top;
    }

    .form-type-select {
        @include fa('\f0d7');
        display: inline-table; // Safari *shrugs*
        padding: 0;

        &:before {
            float: right;
            margin: 4px 0 0 4px;
        }

        > select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: none;
            border: 0;

            &::-ms-expand {
                display: none;
            }
        }
    }

    .pane-title {
        margin-bottom: 0;
    }

    .views-exposed-widget {
        display: inline-block;
    }

    .views-exposed-widgets {
        background: $gray-lighter;
        margin: 0 -20px;
        padding: 10px 20px;
        position: relative;
        text-align: right;
        z-index: 2;
    }

    @media(min-width: $screen-xs-min) {
        padding-bottom: 20px;

        .pane-title {
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .views-exposed-widgets {
            background: none;
            margin: 0 0 10px 0;
            padding: inherit;
        }
    }
}


/* [modifier] Panel containing user's details */
.chr_panel--my-details {

    .chr_panel--my-details__data-group {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media(min-width: $screen-md-min) {
        .chr_panel--my-details__data-group {
            margin-bottom: 0;
        }
    }
}

.chr_panel--my-details__data-group {

    > .chr_panel--my-details__data-group__title {
        margin-bottom: 20px;
    }
}

.chr_panel--my-details__data-group__content {

    .field-content,
    .views-label {
        display: block;
        float: left;
        font-size: 1.3rem;
        width: 50%;
    }

    .views-field {
        @include clearfix;

        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .views-field-email {

        .field-content {
            word-break: break-all;
        }
    }

    .views-label {
        color: $gray-darker;
    }

    @media(min-width: $screen-sm-min) {
        .field-content,
        .views-label {
            font-size: 1em;
        }
    }
}

.chr_panel--my-details__data-group__title {
    margin: 0;
}

.chr_panel--my-details__profile-image {
    border-radius: 50%;
    overflow: hidden;

    > img {
        width: 100%;
    }
}


/* [modifier] Panel with no padding applied to its content */
.chr_panel--no-padding {

    > .pane-content {
        margin: -20px;
        overflow: hidden;
    }
}
