// Styles for Pivot Table
// --------------------------------------------------

.pvtTable-civi {
    .pvtAxisContainer {
        width: 80%;
    }

    .pvtTable {
        border: 1px solid $gray-light;

        th,
        td {
            padding: 10px;
            font-size: 13px;
        }

        th {
            border-color: $gray-light;
        }

        td {
            text-align: center;
        }

        .pvtColLabel,
        .pvtTotalLabel {
            vertical-align: top;
        }

        .pvtColLabel,
        .pvtTotalLabel,
        .pvtVal,
        .pvtTotal,
        .pvtGrandTotal {
            border-right: 0;
            border-left: 0;
            text-align: right;
        }

        th.pvtTotalLabel {
            border-right: 1px solid $gray-light;
        }

        .rowTotal,
        .pvtVal {
            color: $gray-light-blue;
            font-weight: normal;
        }
    }

    li {
        span.pvtAttr {
            padding: 0 15px;
            line-height: 33px;
            background-color: $gray-lighter;
            border-radius: 0;
            border: 1px solid #ededed;
        }

        .pvtTriangle {
            margin-left: 10px;
            margin-bottom: 2px;
        }
    }

    .pvtVals,
    .pvtAxisContainer.pvtRows {
        border-left: 0;
        padding: 8px 20px;
    }

    .pvtUi {
        > tbody,
        .pvtAxisContainer.pvtHorizList {
            border-top: 0;
            border-right: 0;
        }
    }
}
