// Styles for Pivot Table
// --------------------------------------------------

.pvtTable-civi {
    .pvtAxisContainer {
        width: 80%;
    }

    .pvtTable {
        border: 1px solid $gray-light;

        th,
        td {
            padding: 10px;
            font-size: 13px;
            border-color: $gray-light;
        }

        th {
            font-weight: normal;
        }

        td {
            text-align: center;
        }

        .pvtColLabel,
        .pvtTotalLabel {
            vertical-align: top;
        }

        .pvtColLabel,
        .pvtTotalLabel,
        .pvtVal,
        .pvtTotal,
        .pvtGrandTotal {
            border-right: 0;
            border-left: 0;
            text-align: right;
        }

        th.pvtTotalLabel {
            border-right: 1px solid $gray-light;
        }

        th.pvtTotalLabel[colspan="2"] {
            font-weight: bold;
        }

        .rowTotal,
        .pvtVal {
            color: $gray-light-blue;
            font-weight: normal;
        }
    }

    li {
        span.pvtAttr {
            padding: 0 15px;
            line-height: 33px;
            color: $gray-light-blue;
            background-color: $gray-lighter;
            border-radius: 0;
            border: 1px solid $light-gray;
        }

        .pvtTriangle {
            color: $gray-light-blue;
            margin-left: 10px;
            margin-bottom: 2px;
        }
    }

    .pvtAxisContainer,
    .pvtVals {
        padding: 20px;
    }

    .pvtVals,
    .pvtAxisContainer.pvtRows {
        border-left: 0;
    }

    .pvtUi {
        > tbody,
        .pvtAxisContainer.pvtHorizList {
            border-top: 0;
            border-right: 0;
        }

        tr:nth-child(2) {
            background-color: $gray-lighter;
        }
    }

    br {
        display: none;
    }

    .pvtFilterBox {
        border-radius: 0;
        border: 1px solid $light-gray;
        padding: 10px;

        > h4,
        > :nth-child(2) > button {
            display: none;
        }

        .pvtFilterSelectAllWrap {
            color: $gray-darker;
            border-bottom: 1px solid $light-gray;
        }

        label {
            margin: 0;
        }

        button {
            @extend .btn;
            @extend .btn-primary;
            margin: 10px 0 0 0;
        }

        .pvtCheckContainer {
            margin-top: 10px;
            padding: 0;

            p {
                padding: 10px 0;
            }
        }

        .form-text {
            height: 25px;
            padding: 4px 10px;
            @include placeholder-color($gray);
        }
    }
}
