// Styles for Views
// --------------------------------------------------

/**
 * [modifier] A `.view` containing a <table>
 *
 * The <table> on small screens will not adapt to the width anymore, but it will be scrollable on the X axys
 */
.view--w-table {
    overflow: auto;

    table {
        min-width: 720px;
    }

    @media(min-width: $screen-sm-min) {
        overflow: visible;
    }

    @media(min-width: $screen-md-min) {
        overflow: auto;
    }

    @media(min-width: $screen-lg-min) {
        overflow: visible;

        table {
            min-width: inherit;
        }
    }
}



/**
 * Staff Directory view
 */
.view-id-civihr_staff_directory {
    background: none;
    padding: 0;

    // This is to reset the -20px margin on .table-responsive
    // (needs to be verified if that negative margin is necessary at all)
    .table-responsive {
        margin: 0;
    }

    > .view-content {
        background: #ffffff;
    }

    > .view-filters {
        background: #ffffff;
        margin-bottom: 20px;
        padding: $panel-body-padding;
    }
}
